Repository Unity-Technologies/ScriptableRenderPipeline, pull requests merged in 2018-06, with the labels that each got.

#1455 HDRP: Rename debug windows + change menu location
  com.unity.render-pipelines.core/CoreRP/Editor/Debugging/DebugWindow.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: backported-2018.2

#1479 Fix GC bug
  com.unity.shadergraph/Editor/Data/Graphs/PreviewProperty.cs
Labels: Shader Graph, needs-backport-2018.2

#1480 changeHDRPVersion to integer and don't display warning
  com.unity.render-pipelines.high-definition/HDRP/Editor/Upgraders/HDRPVersion.cs
Labels: backported-2018.2

#1429 Added Sample Texture 2D LOD Node
  com.unity.shadergraph/.data/texture_2d_lod_node.PNG
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture2DLODNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture2DLODNode.cs.meta
Labels: Shader Graph, needs-backport-2018.2

#1431 Update changelog for previous PRs
  com.unity.shadergraph/.data/hd_render_pipeline.png
  com.unity.shadergraph/.data/texture_nodes.png
  com.unity.shadergraph/.data/vertex_position.png
  com.unity.shadergraph/CHANGELOG.md
Labels: Shader Graph, needs-backport-2018.2

#1461 Fix ScreenPosition transformation
  com.unity.shadergraph/Editor/Data/Util/ShaderGenerator.cs
Labels: Shader Graph, needs-backport-2018.2

#1449 Vertex anim HDRP
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRPass.template
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRSubShader.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitPassForward.template
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitSubShader.cs
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassVelocity.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/VertMesh.hlsl
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightPBRSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightUnlitSubShader.cs
  com.unity.shadergraph/Editor/Data/Graphs/ShaderGraphRequirements.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/CheckerboardNode.cs
  com.unity.shadergraph/Editor/Data/Util/GraphUtil.cs
Labels: Shader Graph, needs-backport-2018.2

#1463 Sg/fix checkerboard
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/CheckerboardNode.cs
Labels: Shader Graph, needs-backport-2018.2

#1467 Outliner and preview fix
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
Labels: Shader Graph, needs-backport-2018.2

#1430 Add Face Sign functionality
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRPass.template
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitPassForward.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightPBRSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightUnlitSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightPBRForwardPass.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightUnlitPass.template
  com.unity.shadergraph/.data/face_sign.png
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/ShaderGraphRequirements.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequireFaceSign.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequireFaceSign.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Utility/Logic/IsFrontFaceNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/Logic/IsFrontFaceNode.cs.meta
  com.unity.shadergraph/Editor/Data/Util/GraphUtil.cs
  com.unity.shadergraph/Editor/Data/Util/ShaderGenerator.cs
  com.unity.shadergraph/Editor/Data/Util/ShaderGeneratorNames.cs
Labels: Shader Graph, needs-backport-2018.2

#1484 Un-inline GetShaderText
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph, needs-backport-2018.2

#1487 HDRP: Fix hdrp version trouble (now return current version when no ve…
  com.unity.render-pipelines.high-definition/HDRP/Editor/Upgraders/HDRPVersion.cs
Labels: backported-2018.2

#1494 Fixed refraction issues
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.hlsl
Labels: backported-2018.2

#1496 LWRP Shadergraph GPU instancing fixes
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightPBRExtraPasses.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightPBRForwardPass.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightUnlitExtraPasses.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightUnlitPass.template
Labels: Shader Graph, lwrp

#1499 Small terrain shader fixes
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Terrain/LightweightStandardTerrain.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Terrain/LightweightStandardTerrainBase.shader
Labels: lwrp

#1503 Visualize shadow masks
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Debug/LightingDebug.cs
  com.unity.render-pipelines.high-definition/HDRP/Debug/LightingDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.hlsl
Labels: backported-2018.2

#1510 Fix ConvertSurfaceDataToBSDFData argument since change of PR #1505
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRPass.template
Labels: backported-2018.2

#1513 Fix for Light Loop UI and Volume interpolation for reflection
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderPipeline/Settings/LightLoopSettingsUI.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
Labels: backported-2018.2

#1517 HDRP: edit profiler depth prepass caption + fix roughness for clearcoat
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
Labels: backported-2018.2

#1521 Lw/computebuffer fix
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/LightweightForwardRenderer.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Input.hlsl
Labels: lwrp, needs-backport-2018.2

#1516 Lw/shadow optimization
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightPBRForwardPass.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DirectionalShadowsPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/ForwardLitPass.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Shadows.hlsl
  com.unity.render-pipelines.lightweight/LWRP/Shaders/LightweightScreenSpaceShadows.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/LightweightStandard.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/LightweightStandardSimpleLighting.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Terrain/LightweightStandardTerrain.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Terrain/LightweightStandardTerrainAddPass.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Terrain/LightweightStandardTerrainBase.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Terrain/LightweightWavingGrass.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Terrain/LightweightWavingGrassBillboard.shader
Labels: lwrp, needs-backport-2018.2

#1507 Naive hookup for cameraData.renderScale <-> XRSettings.eyeTextureResolutionScale in XR mode
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
Labels: XR, lwrp

#1537 Lw/fix unityperdraw cblayout
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/InputBuiltin.hlsl
Labels: lwrp, needs-backport-2018.2

#1360 LWRP XR Single-pass Instancing and Multi-view Support
  ScriptableRenderPipeline/Core/CoreRP/ShaderLibrary/UnityInstancing.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipeline.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/InputBuiltin.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/LightweightPassDepthOnly.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightScreenSpaceShadows.shader
Labels: backport-2018.1, lwrp

#1536 LW pipeline asset inspector UI
  com.unity.render-pipelines.core/CoreRP/Editor/Shadow/ShadowCascadeSplitGUI.cs
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/Data/LightweightPipelineAsset.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/LightweightPipelineAssetEditor.cs
Labels: lwrp, needs-backport-2018.2

#1539 Lw/camera additional data
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/Editor/LightweightCameraEditor.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
Labels: lwrp, needs-backport-2018.2

#1545 Lw/shadow optimization v2
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/LightweightConstantBuffer.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DirectionalShadowsPass.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Shadows.hlsl
  com.unity.render-pipelines.lightweight/LWRP/Shaders/LightweightScreenSpaceShadows.shader
Labels: lwrp, needs-backport-2018.2

#1548 Fixed compilation errors for Switch platform.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/LightweightForwardRenderer.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
Labels: lwrp, needs-backport-2018.2

#1565 Fix rename of `HasFeatureFlag`
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRPass.template
Labels: HDRP, Shader Graph

#1476 Stack lit2
  com.unity.render-pipelines.core/CoreRP/ShaderLibrary/BSDF.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/StackLit/StackLitUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/LTCAreaLight/LTCAreaLight.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/LTCAreaLight/LTCAreaLight.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/LTCAreaLight/LtcData.DisneyDiffuse.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/LTCAreaLight/LtcData.GGX.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLitData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLitProperties.hlsl
Labels: HDRP

#1512 Update window title
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/MasterPreviewView.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphAssetPostProcessor.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphAssetPostProcessor.cs.meta
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporterEditor.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporterEditor.cs
Labels: Shader Graph, bug-fix

#1535 Warn about lack of compatible render pipeline asset
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRSubShader.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitSubShader.cs
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightPBRSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightUnlitSubShader.cs
  com.unity.render-pipelines.lightweight/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/MasterNodes/ISubShader.cs
  com.unity.shadergraph/Editor/Data/Nodes/IMasterNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/MasterNode.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/package.json
Labels: Shader Graph, api-change

#1587 HDRP: Improve camera relative rendering precision on object
  com.unity.render-pipelines.core/CoreRP/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/CoreRP/ShaderLibrary/UnityInstancing.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRPass.template
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRSubShader.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitPassForward.template
  com.unity.render-pipelines.high-definition/HDRP/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitBuiltinData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitDataIndividualLayer.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitDataMeshModification.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/MaterialUtilities.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLitData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/FragInputs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassDBuffer.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassDepthOnly.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassDistortion.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassForward.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassForwardUnlit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassGBuffer.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassLightTransport.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassVelocity.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/TessellationShare.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/VaryingMesh.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/VertMesh.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariablesFunctions.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariablesMatrixDefsHDCamera.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariablesMatrixDefsLegacyUnity.hlsl
Labels: HDRP

#1589 Fixup texture format mismatches for Metal on iOS
  com.unity.render-pipelines.high-definition/HDRP/Material/GGXConvolution/RuntimeFilterIBL.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/CopyDepthBuffer.shader
Labels: HDRP

#1585 Emissive mesh for area lights
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.Styles.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderPipeline/HDEditorUtils.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Disc.FBX
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Disc.FBX.meta
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Quad.FBX
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Quad.FBX.meta
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Sphere.FBX
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Sphere.FBX.meta
Labels: HDRP

#1582 Switch compilation fixes.
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
Labels: lwrp
