Repository Unity-Technologies/ScriptableRenderPipeline, pull requests merged in 2018-08, with the labels that each got.

#1741 Updates to LW Asset Inspector
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/Editor/LightweightPipelineAssetEditor.cs
Labels: lwrp

#1708 Lw/terrain optimization
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Terrain/LightweightPassLitTerrain.hlsl
Labels: lwrp

#1731 Removed XRSettings usage from HDRP. Protected XR usage in XRGraphicsConfig with ifdefs.
  com.unity.render-pipelines.core/CoreRP/Common/XRGraphicsConfig.cs
  com.unity.render-pipelines.high-definition/HDRP/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#1818 Lw/bugfix/1058812
  TestProjects/LWGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/007_LitShaderMaps.png
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/LightweightForwardRenderer.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Input.hlsl
Labels: lwrp

#1831 Fixed issue with shadow cascade culling.
  com.unity.render-pipelines.lightweight/LWRP/LightweightShadowUtils.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DirectionalShadowsPass.cs
Labels: lwrp

#1822 Added support for oblique matrices in light loop culling
  com.unity.render-pipelines.core/CoreRP/Utilities/GeometryUtils.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/lightlistbuild-bigtile.compute
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/lightlistbuild-clustered.compute
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/lightlistbuild.compute
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/scrbound.compute
Labels: HDRP

#1710 Renamed Area to Rectangle
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/GlobalIlluminationUtils.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/LightweightLightEditor.cs
Labels: HDRP, lwrp

#1819 Hd light explorer extension. Requires API which landed in trunk in 104c4c520ad9
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightExplorerExtension.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightExplorerExtension.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDProbe.cs
Labels: HDRP

#1830 Lw/receive shadows prop
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGUI/LightweightShaderGUI.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGUI/LightweightStandardGUI.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGUI/LightweightStandardSimpleLightingGUI.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/LightweightPassLit.hlsl
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/LightweightPassLitSimple.hlsl
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Shadows.hlsl
  com.unity.render-pipelines.lightweight/LWRP/Shaders/LightweightStandard.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/LightweightStandardSimpleLighting.shader
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/OSXEditor/Metal/020_Lighting_BasicDirectional.png
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/WindowsEditor/Direct3D11/020_Lighting_BasicDirectional.png
  com.unity.testing.srp.lightweight/Tests/Scenes/020_Lighting_BasicDirectional.unity
  com.unity.testing.srp.lightweight/Tests/Scenes/020_Lighting_BasicDirectional/PhysicallyBased_NoReceiveShadows.mat
  com.unity.testing.srp.lightweight/Tests/Scenes/020_Lighting_BasicDirectional/PhysicallyBased_NoReceiveShadows.mat.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/020_Lighting_BasicDirectional/SimpleLighting_NoReceiveShadows.mat
  com.unity.testing.srp.lightweight/Tests/Scenes/020_Lighting_BasicDirectional/SimpleLighting_NoReceiveShadows.mat.meta
Labels: lwrp

#1851 Hdrp/increase probe volume comparison
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.cs
Labels: HDRP

#1665 Fix/coupling Light-HDLight workflow waiting for a C++ PR #70472
  com.unity.render-pipelines.core/CoreRP/Shadow/AdditionalShadowData.cs
  com.unity.render-pipelines.core/CoreRP/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP

#1860 Fixed null ref exception with particle lights
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.cs
Labels: HDRP

#1744 Fix for saving dirty shader graph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph

#1857 Hdrp/decals/v2 1/normal buffer
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/Decal/DecalUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/StackLit/StackLitUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalNormalBuffer.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalNormalBuffer.shader.meta
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalProjectorComponent.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/GBufferManager.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/RenderPipelineMaterial.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLitData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDCustomSamplerId.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/RenderPipelineResources.cs
Labels: HDRP

#1887 Fixed an init issue with deferred shadow texture.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#1885 Lw/fix standardunlitshader
  TestProjects/LWGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGUI/LightweightShaderGUI.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/LightweightPassMetaUnlit.hlsl
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/LightweightPassMetaUnlit.hlsl.meta
  com.unity.render-pipelines.lightweight/LWRP/Shaders/LightweightStandardUnlit.shader
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/OSXEditor/Metal/053_UnlitShader.png
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/OSXEditor/Metal/053_UnlitShader.png.meta
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/WindowsEditor/Direct3D11/053_UnlitShader.png
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/WindowsEditor/Direct3D11/053_UnlitShader.png.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader.unity
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader.unity.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader/.gitignore
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader/unlit shader red GI.mat
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader/unlit shader red GI.mat.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader/unlit shader red no GI.mat
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader/unlit shader red no GI.mat.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader/unlit shader white GI.mat
  com.unity.testing.srp.lightweight/Tests/Scenes/053_UnlitShader/unlit shader white GI.mat.meta
Labels: lwrp

#1673 Pipeline specific graph functions and nodes
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRPass.template
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitPassForward.template
  com.unity.render-pipelines.high-definition/HDRP/ShaderGraphFunctions.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderGraphFunctions.hlsl.meta
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightPBRSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightUnlitSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightPBRExtraPasses.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightPBRForwardPass.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightUnlitExtraPasses.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightUnlitPass.template
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/ShaderGraphFunctions.hlsl
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/ShaderGraphFunctions.hlsl.meta
  com.unity.shadergraph/Editor/Data/Graphs/ShaderGraphRequirements.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequireCameraOpaqueTexture.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequireCameraOpaqueTexture.cs.meta
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequireDepthTexture.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequireDepthTexture.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/SceneColorNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/SceneColorNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/SceneDepthNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/SceneDepthNode.cs.meta
  com.unity.shadergraph/ShaderGraphLibrary/Functions.hlsl
Labels: HDRP, Shader Graph, lwrp, new-functionality

#1894 Added context menu for loading package scenes(LWRP Test Project)
  TestProjects/LWGraphicsTest/Assets/Editor/LoadPackageSceneContext.cs
  TestProjects/LWGraphicsTest/Assets/Editor/LoadPackageSceneContext.cs.meta
  TestProjects/LWGraphicsTest/Assets/Editor/OpenScene.cs
Labels: lwrp

#1737 Fixes for previews not updating
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph

#1892 Lw/api review v2
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/DefaultRendererSetup.cs
  com.unity.render-pipelines.lightweight/LWRP/IAfterDepthPrePass.cs
  com.unity.render-pipelines.lightweight/LWRP/IAfterOpaquePass.cs
  com.unity.render-pipelines.lightweight/LWRP/IAfterOpaquePostProcess.cs
  com.unity.render-pipelines.lightweight/LWRP/IAfterRender.cs
  com.unity.render-pipelines.lightweight/LWRP/IAfterSkyboxPass.cs
  com.unity.render-pipelines.lightweight/LWRP/IAfterTransparentPass.cs
  com.unity.render-pipelines.lightweight/LWRP/IRendererSetup.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipelineCore.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightShadowUtils.cs
  com.unity.render-pipelines.lightweight/LWRP/MaterialHandles.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/BeginXRRenderingPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/CopyColorPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/CreateLightweightRenderTexturesPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DirectionalShadowsPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DrawSkyboxPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/EndXRRenderingPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/LightweightForwardPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/LightweightForwardPass.cs.meta
  com.unity.render-pipelines.lightweight/LWRP/Passes/LocalShadowsPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/OpaquePostProcessPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/RenderOpaqueForwardPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/RenderTransparentForwardPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/SceneViewDepthCopy.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/ScreenSpaceShadowResolvePass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/SetupForwardRenderingPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/SetupLightweightConstanstPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/TransparentPostProcessPass.cs
  com.unity.render-pipelines.lightweight/LWRP/RenderTargetHandle.cs
  com.unity.render-pipelines.lightweight/LWRP/RenderTargetHandles.cs
  com.unity.render-pipelines.lightweight/LWRP/SampleCount.cs
  com.unity.render-pipelines.lightweight/LWRP/SceneViewDrawMode.cs
  com.unity.render-pipelines.lightweight/LWRP/ScriptableRenderer.cs
  com.unity.testing.srp.lightweight/Tests/Scenes/045_CustomLWPipe/CustomLWPipe.cs
  com.unity.testing.srp.lightweight/Tests/Scenes/052_LWCallbacks/CameraCallbackTests.cs
Labels: lwrp

#1854 Light attenuation matching that of baked GI
  TestProjects/LWGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/SetupLightweightConstanstPass.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Lighting.hlsl
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/OSXEditor/Metal/053_UnlitShader.png
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/OSXEditor/Metal/054_Lighting_Attenuation.png
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/OSXEditor/Metal/054_Lighting_Attenuation.png.meta
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/WindowsEditor/Direct3D11/053_UnlitShader.png
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/WindowsEditor/Direct3D11/054_Lighting_Attenuation.png
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/WindowsEditor/Direct3D11/054_Lighting_Attenuation.png.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/052_Lighting_Attenuation.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/054_Lighting_Attenuation.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/054_Lighting_Attenuation.unity
  com.unity.testing.srp.lightweight/Tests/Scenes/054_Lighting_Attenuation.unity.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/054_Lighting_Attenuation/LightingData.asset
  com.unity.testing.srp.lightweight/Tests/Scenes/054_Lighting_Attenuation/LightingData.asset.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/054_Lighting_Attenuation/Lightmap-0_comp_dir.png
  com.unity.testing.srp.lightweight/Tests/Scenes/054_Lighting_Attenuation/Lightmap-0_comp_dir.png.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/054_Lighting_Attenuation/Lightmap-0_comp_light.exr
  com.unity.testing.srp.lightweight/Tests/Scenes/054_Lighting_Attenuation/Lightmap-0_comp_light.exr.meta
Labels: lwrp

#1917 Removed unused light cookied code.
  com.unity.render-pipelines.lightweight/LWRP/Editor/LightweightRenderPipelineLightEditor.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipelineCore.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/SetupLightweightConstanstPass.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/InputBuiltin.hlsl
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Lighting.hlsl
Labels: lwrp

#1891 Disable front-to-back sorting of opaque objects on hardware with HSR
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipelineCore.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/RenderOpaqueForwardPass.cs
  com.unity.render-pipelines.lightweight/package.json
Labels: lwrp

#1918 Lw/light attenuation test scene
  TestProjects/LWGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.testing.srp.lightweight/Tests/CommonAssets/Materials/Matte.mat
  com.unity.testing.srp.lightweight/Tests/CommonAssets/Materials/Matte.mat.meta
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/OSXEditor/Metal/055_Lighting_Attenuation_Spot_Point.png
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/OSXEditor/Metal/055_Lighting_Attenuation_Spot_Point.png.meta
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/WindowsEditor/Direct3D11/055_Lighting_Attenuation_Spot_Point.png
  com.unity.testing.srp.lightweight/Tests/ReferenceImages/Linear/WindowsEditor/Direct3D11/055_Lighting_Attenuation_Spot_Point.png.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/055_Lighting_Attenuation_Spot_Point.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/055_Lighting_Attenuation_Spot_Point.unity
  com.unity.testing.srp.lightweight/Tests/Scenes/055_Lighting_Attenuation_Spot_Point.unity.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/055_Lighting_Attenuation_Spot_Point/LightingData.asset
  com.unity.testing.srp.lightweight/Tests/Scenes/055_Lighting_Attenuation_Spot_Point/LightingData.asset.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/055_Lighting_Attenuation_Spot_Point/Lightmap-0_comp_light.exr
  com.unity.testing.srp.lightweight/Tests/Scenes/055_Lighting_Attenuation_Spot_Point/Lightmap-0_comp_light.exr.meta
Labels: lwrp
