Repository Unity-Technologies/ScriptableRenderPipeline, pull requests merged in 2018-09, with the labels that each got.

#1919 C# API Review - v3
  com.unity.render-pipelines.lightweight/LWRP/Data/LightweightPipelineAsset.cs
  com.unity.render-pipelines.lightweight/LWRP/DefaultRendererSetup.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/LightweightPipelineAssetEditor.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipelineCore.cs
  com.unity.render-pipelines.lightweight/LWRP/MaterialHandles.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/ScreenSpaceShadowResolvePass.cs
  com.unity.render-pipelines.lightweight/LWRP/RenderTargetHandles.cs
  com.unity.render-pipelines.lightweight/LWRP/RenderTargetHandles.cs.meta
  com.unity.render-pipelines.lightweight/LWRP/SceneViewDrawMode.cs
Labels: lwrp

#1926 Hdrp/staging
  com.unity.render-pipelines.core/CoreRP/Editor/Lighting/CoreLightEditorUtilities.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Debug/DebugLightVolume.shader
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDAdditionalLightDataEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditorUtilities.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditorUtilities.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeEditor.Gizmos.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeEditor.Preview.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Volumetric/DensityVolumeEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/Decal/DecalProjectorComponentEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/Decal/DecalUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/StackLit/StackLitUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/TerrainLit/TerrainLitUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/AtmosphericScattering.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/VolumetricFog.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDAdditionalReflectionData.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/Volumes/InfluenceVolume.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/DensityVolume.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/VolumeVoxelization.compute
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/VolumetricLighting.compute
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/VolumetricLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalNormalBuffer.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalNormalBuffer.shader.meta
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalProjectorComponent.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Fabric/Fabric.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Fabric/FabricData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/GBufferManager.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/NormalBufferManager.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/RenderPipelineMaterial.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLitData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScattering.compute
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDCustomSamplerId.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/RenderPipelineResources.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/SceneColorNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/SceneDepthNode.cs
Labels: HDRP

#1890 Hdrp/fix probe face fade
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/VolumeProjection.hlsl
Labels: HDRP

#1922 Color Picker Issue
  com.unity.render-pipelines.core/CoreRP/Debugging/MousePositionDebug.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDUtils.cs
Labels: HDRP

#1898 Add vertex shader compatibility to subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Interfaces/IGeneratesBodyCode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Adjustment/ChannelMixerNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Adjustment/InvertColorsNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Mask/ChannelMaskNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalFromHeightNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalFromTextureNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Channel/FlipNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Channel/SplitNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Channel/SwizzleNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/CodeFunctionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/BooleanNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/ColorNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/ConstantNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/IntegerNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/SliderNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/Vector1Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/Vector2Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/Vector3Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/Vector4Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/ScreenPositionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/UVNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Matrix/Matrix2Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Matrix/Matrix3Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Matrix/Matrix4Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PBR/DielectricSpecularNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PBR/MetalReflectanceNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PropertyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/FogNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleCubemapNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture2DArrayNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture2DLODNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture2DNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture3DNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/TexelSizeNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/MultiplyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Matrix/MatrixConstructionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Matrix/MatrixSplitNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/UV/FlipbookNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/UV/TriplanarNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/Logic/IsFrontFaceNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraph.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphOutputNode.cs
  com.unity.shadergraph/Editor/Data/Util/GraphUtil.cs
Labels: Shader Graph, new-functionality

#1927 Alpha Version of SSR
  TestProjects/HDRP_Tests/Assets/GraphicTests/Common/RP_Assets/HDRP_Test_Def.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Common/RP_Assets/HDRP_Test_Def_DepthPrepass.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Common/RP_Assets/HDRP_Test_Def_DepthPrepass_AlphaOnly.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Common/RP_Assets/HDRP_Test_Fwd.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Common/RP_Assets/HDRenderPipelineAsset.asset
  com.unity.render-pipelines.core/CoreRP/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/ScreenSpaceLightingEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/HDRenderPipelineAsset.asset
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceLighting.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/VolumetricLighting.compute
  com.unity.render-pipelines.high-definition/HDRP/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScattering.compute
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDCustomSamplerId.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDUtils.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/DepthPyramid.compute
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/MipGenerator.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/ScreenSpaceReflections.compute.meta
Labels: HDRP

#1605 Stabilize the dithered LOD transition mask with respect to the camera…
  com.unity.render-pipelines.core/CoreRP/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitData.hlsl
Labels: HDRP

#1940 Fixed support of depth texture for RenderTexture
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDCustomSamplerId.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#1944 Remove jimenez sss code
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/DiffusionProfile/DiffusionProfileSettingsEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/DiffusionProfile/DiffusionProfileSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/DiffusionProfile/DiffusionProfileSettings.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/ShaderVariablesSubsurfaceScattering.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScattering.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScattering.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScattering.shader.meta
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Default Diffusion Profile Settings.asset
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/RenderPipelineResources.cs
Labels: HDRP

#1915 Fixed issue that sometimes caused lightweight to render garbage lights
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/ScriptableRenderer.cs
Labels: lwrp

#1882 Custom Light Explorer for LWRP
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/Editor/LightExplorer.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/LightExplorer.cs.meta
Labels: lwrp

#1951 Hdrp/fix/spot light gizmo
  com.unity.render-pipelines.high-definition/HDRP/Editor/CoreRP/Editor/Lighting/CoreLightEditorUtilities.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.cs
Labels: HDRP

#1930 Fix for float.tryparse
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRSubShader.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitSubShader.cs
  com.unity.shadergraph/Editor/Drawing/Controls/DielectricSpecularControl.cs
  com.unity.shadergraph/Editor/Drawing/Controls/SliderControl.cs
  com.unity.shadergraph/Editor/Drawing/Controls/VectorControl.cs
  com.unity.shadergraph/Editor/Drawing/Views/Slots/MultiFloatSlotControlView.cs
Labels: Shader Graph

#1957 Lw/fix perobject probeindices
  com.unity.render-pipelines.lightweight/LWRP/ScriptableRenderer.cs
  com.unity.testing.srp.lightweight/Tests/Scenes/044_Lighting_ReflectionProbe.unity
Labels: lwrp

#1958 Changing the normal value used for the deffered directional shadow
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Fabric/Fabric.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Fabric/Fabric.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Fabric/FabricData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
Labels: HDRP

#1931 Refactoring the RT Handles class
  com.unity.render-pipelines.high-definition/HDRP/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/HDRP/CoreRP/Textures/BufferedRTHandleSystem.cs
  com.unity.render-pipelines.high-definition/HDRP/CoreRP/Textures/RTHandleSystem.RTHandle.cs
  com.unity.render-pipelines.high-definition/HDRP/CoreRP/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.high-definition/HDRP/CoreRP/Textures/RTHandles.cs
  com.unity.render-pipelines.high-definition/HDRP/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/SharedRTManager.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/MSAA/AOResolve.shader
Labels: HDRP

#1910 Lw/fix srpbatcher cbuffer
  com.unity.render-pipelines.core/CoreRP/ShaderLibrary/EntityLighting.hlsl
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/InputBuiltin.hlsl
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Lighting.hlsl
Labels: lwrp

#1965 The objects that are rendered in the motion vector pass are not rendered in the classic prepass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/NormalBuffer.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/SharedRTManager.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassDepthOnly.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassVelocity.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderPass/ShaderPassVelocity.hlsl.meta
Labels: HDRP

#1933 Added support for stereo camera motion vectors
  com.unity.render-pipelines.core/CoreRP/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/CameraMotionVectors.shader
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariablesMatrixDefsHDCamera.hlsl
Labels: HDRP

#1961 Update DebugOutput path
  com.unity.shadergraph/Editor/DefaultShaderIncludes.cs
Labels: Shader Graph, bug-fix

#1802 Set correct default values for texture slot properties
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/TextureShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture2DLODNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture2DNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/UV/TriplanarNode.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldPropertyView.cs
Labels: Shader Graph, bug-fix

#1800 Fix CodeFunctionNode headers when using DynamicMatrix type
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/CodeFunctionNode.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph, bug-fix

#1960 Apply correct generation mode in subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraph.cs
Labels: Shader Graph, bug-fix

#1977 Fix duplicate disabling scope creation for UI
  com.unity.render-pipelines.core/CoreRP/Editor/SettingsDisableScope.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDProbeUI.Drawers.cs
Labels: HDRP

#1964 Graphics Test 040_UpgradeScene fix
  TestProjects/LWGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.testing.srp.lightweight/Tests/Scenes/040_UpgradeScene.unity
Labels: lwrp

#1963 LWRP Terrain detail mesh shader
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Terrain/VertexLit.shader
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Terrain/VertexLit.shader.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/035_Shader_TerrainShaders/New Terrain.asset
  com.unity.testing.srp.lightweight/Tests/Scenes/035_Shader_TerrainShaders/Rock.fbx
  com.unity.testing.srp.lightweight/Tests/Scenes/035_Shader_TerrainShaders/Rock.fbx.meta
  com.unity.testing.srp.lightweight/Tests/Scenes/035_Shader_TerrainShaders/Rock.mat
  com.unity.testing.srp.lightweight/Tests/Scenes/035_Shader_TerrainShaders/Rock.mat.meta
Labels: lwrp

#2019 Terrain Detail Mesh shader fix
  com.unity.render-pipelines.lightweight/Shaders/Terrain/VertexLit.shader
  com.unity.render-pipelines.lightweight/Shaders/Terrain/VertexLit.shader.meta
Labels: lwrp

#2009 Volumetric updates
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Volumetrics/DensityVolumeManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Volumetrics/Texture3DAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Volumetrics/Texture3DAtlas.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Volumetrics/VolumeTextureAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Volumetrics/VolumetricLighting.cs
Labels: HDRP

#1972 Hdrp/graphic test/fix reflection with volume
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/CubeIn.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/CubeIn.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/CubeIn.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/CubeIn.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/CubeOut.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/CubeOut.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/CubeOut.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/CubeOut.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/PlanarIn.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/PlanarIn.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/PlanarIn.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/PlanarIn.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/PlanarOut.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/PlanarOut.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/PlanarOut.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/PlanarOut.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/Scene Settings Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/Scene Settings Profile.asset.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/Volume Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2210_ReflectionProbes_CaptureAtVolumeAnchor/Volume Profile.asset.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/2210_ReflectionProbes_CaptureAtVolumeAnchor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/2210_ReflectionProbes_CaptureAtVolumeAnchor.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP

#2018 Fix contact shadow not affected by shadow dimmer
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
Labels: HDRP

#2020 fix value used for cube probe cache
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ReflectionSystemInternal.cs
Labels: HDRP

#1881 Autodesk Interactive Shader support
  TestProjects/LWGraphicsTest/ProjectSettings/ProjectVersion.txt
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Autodesk Interactive Masked.ShaderGraph
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Autodesk Interactive Masked.ShaderGraph.meta
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Autodesk Interactive Transparent.ShaderGraph
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Autodesk Interactive Transparent.ShaderGraph.meta
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Autodesk Interactive.ShaderGraph
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/Autodesk Interactive.ShaderGraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/RenderPipelineResources.cs
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Autodesk Interactive.meta
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Autodesk Interactive/Autodesk Interactive Masked.shadergraph
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Autodesk Interactive/Autodesk Interactive Masked.shadergraph.meta
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Autodesk Interactive/Autodesk Interactive Transparent.shadergraph
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Autodesk Interactive/Autodesk Interactive Transparent.shadergraph.meta
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Autodesk Interactive/Autodesk Interactive.shadergraph
  com.unity.render-pipelines.lightweight/LWRP/Shaders/Autodesk Interactive/Autodesk Interactive.shadergraph.meta
  com.unity.render-pipelines.lightweight/Runtime/Data/LightweightPipelineAsset.cs
  com.unity.render-pipelines.lightweight/Runtime/Data/LightweightPipelineEditorResources.asset
  com.unity.render-pipelines.lightweight/Runtime/Data/LightweightPipelineEditorResources.cs
Labels: HDRP, lwrp

#2017 Update FGD
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/2001_Dynamic_Directional.png
  com.unity.render-pipelines.core/ShaderLibrary/BSDF.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/CommonLighting.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/CommonMaterial.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/ImageBasedLighting.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Macros.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightEditor.Styles.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/PreIntegratedFGD_CookTorrance.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/PreIntegratedFGD_Ward.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitReference.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/preIntegratedFGD_CharlieFabricLambert.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/preIntegratedFGD_GGXDisneyDiffuse.shader
Labels: HDRP

#1936 Lw/api review v4
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/Editor/LightweightPipelineAssetEditor.cs
  com.unity.render-pipelines.lightweight/Editor/ShaderGraph/lightweightPBRExtraPasses.template
  com.unity.render-pipelines.lightweight/Editor/ShaderGraph/lightweightPBRForwardPass.template
  com.unity.render-pipelines.lightweight/Editor/ShaderGraph/lightweightSubshaderFastBlinn.template
  com.unity.render-pipelines.lightweight/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.lightweight/Runtime/Data/LightweightPipelineAsset.cs
  com.unity.render-pipelines.lightweight/Runtime/DefaultRendererSetup.cs
  com.unity.render-pipelines.lightweight/Runtime/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/Runtime/LightweightPipelineCore.cs
  com.unity.render-pipelines.lightweight/Runtime/LightweightShadowUtils.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/DirectionalShadowsPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/LocalShadowsPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/SceneViewDepthCopy.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/ScreenSpaceShadowResolvePass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/SetupLightweightConstanstPass.cs
  com.unity.render-pipelines.lightweight/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.lightweight/ShaderLibrary/Core.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/CoreFunctions.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/DepthCopy.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/Lighting.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/LightweightPassDepthOnly.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/LightweightPassLit.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/LightweightPassLitSimple.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/LightweightPassMetaCommon.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/LightweightPassMetaPBR.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/LightweightPassMetaSimple.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/LightweightPassMetaUnlit.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/LightweightPassShadow.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/Particles.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/ParticlesPBR.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/Shadows.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/Terrain/LightweightPassLitGrass.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/Terrain/LightweightPassLitTerrain.hlsl
  com.unity.render-pipelines.lightweight/Shaders/Autodesk Interactive.meta
  com.unity.render-pipelines.lightweight/Shaders/Autodesk Interactive/Autodesk Interactive Masked.shadergraph
  com.unity.render-pipelines.lightweight/Shaders/Autodesk Interactive/Autodesk Interactive Masked.shadergraph.meta
  com.unity.render-pipelines.lightweight/Shaders/Autodesk Interactive/Autodesk Interactive Transparent.shadergraph
  com.unity.render-pipelines.lightweight/Shaders/Autodesk Interactive/Autodesk Interactive Transparent.shadergraph.meta
  com.unity.render-pipelines.lightweight/Shaders/Autodesk Interactive/Autodesk Interactive.shadergraph
  com.unity.render-pipelines.lightweight/Shaders/Autodesk Interactive/Autodesk Interactive.shadergraph.meta
  com.unity.render-pipelines.lightweight/Shaders/LightweightBlit.shader
  com.unity.render-pipelines.lightweight/Shaders/LightweightSampling.shader
  com.unity.render-pipelines.lightweight/Shaders/LightweightScreenSpaceShadows.shader
  com.unity.render-pipelines.lightweight/Shaders/LightweightStandard.shader
  com.unity.render-pipelines.lightweight/Shaders/LightweightStandardParticles.shader
  com.unity.render-pipelines.lightweight/Shaders/LightweightStandardParticlesSimpleLighting.shader
  com.unity.render-pipelines.lightweight/Shaders/LightweightStandardParticlesUnlit.shader
  com.unity.render-pipelines.lightweight/Shaders/LightweightStandardSimpleLighting.shader
  com.unity.render-pipelines.lightweight/Shaders/LightweightStandardUnlit.shader
  com.unity.render-pipelines.lightweight/Shaders/Terrain/LightweightStandardTerrain.shader
  com.unity.render-pipelines.lightweight/Shaders/Terrain/LightweightStandardTerrainAddPass.shader
  com.unity.render-pipelines.lightweight/Shaders/Terrain/LightweightStandardTerrainBase.shader
  com.unity.render-pipelines.lightweight/Shaders/Terrain/LightweightWavingGrass.shader
  com.unity.render-pipelines.lightweight/Shaders/Terrain/LightweightWavingGrassBillboard.shader
  com.unity.render-pipelines.lightweight/Shaders/Terrain/VertexLit.shader
  com.unity.testing.srp.lightweight/Tests/CommonAssets/LightweightPipelineAsset.asset
  com.unity.testing.srp.lightweight/Tests/Scenes/045_CustomLWPipe/CustomLWPipe.cs
Labels: lwrp

#1913 Sg/fix show generated code
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/AbstractMaterialGraph.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
Labels: Shader Graph, bug-fix

#2025 Add an option to enable reprojection for volumetrics
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedFrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Volumetrics/VolumetricLighting.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Volumetrics/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#2032 fix LayeredLit layer 2 do not showing up and small display issues in materials
  com.unity.render-pipelines.high-definition/Editor/Material/LayeredLit/LayeredLitUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/BaseLitUI.cs
Labels: HDRP

#2033 Lw/api review v5
  TestProjects/LWGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/Editor/LightweightMaterialUpgrader.cs
  com.unity.render-pipelines.lightweight/Editor/LightweightPipelineAssetEditor.cs
  com.unity.render-pipelines.lightweight/Editor/ShaderGUI/LightweightShaderGUI.cs
  com.unity.render-pipelines.lightweight/Editor/ShaderGUI/LightweightStandardGUI.cs
  com.unity.render-pipelines.lightweight/Editor/ShaderGUI/LightweightStandardParticlesShaderGUI.cs
  com.unity.render-pipelines.lightweight/Editor/ShaderGUI/LightweightStandardSimpleLightingGUI.cs
  com.unity.render-pipelines.lightweight/Editor/ShaderGUI/LightweightUnlitGUI.cs
  com.unity.render-pipelines.lightweight/Editor/ShaderGraph/LightWeightPBRSubShader.cs
  com.unity.render-pipelines.lightweight/Editor/ShaderGraph/LightWeightUnlitSubShader.cs
  com.unity.render-pipelines.lightweight/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.lightweight/Editor/UpgradeCommon.cs
  com.unity.render-pipelines.lightweight/Runtime/Data/LightweightPipelineAsset.cs
  com.unity.render-pipelines.lightweight/Runtime/Data/LightweightPipelineEditorResources.cs
  com.unity.render-pipelines.lightweight/Runtime/Data/LightweightPipelineResources.asset
  com.unity.render-pipelines.lightweight/Runtime/Data/LightweightPipelineResources.cs
  com.unity.render-pipelines.lightweight/Runtime/LightweightAdditionalCameraData.cs
  com.unity.render-pipelines.lightweight/Runtime/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/Runtime/LightweightPipelineCore.cs
  com.unity.render-pipelines.lightweight/Runtime/LightweightShaderUtils.cs
  com.unity.render-pipelines.lightweight/Runtime/LightweightShadowUtils.cs
  com.unity.render-pipelines.lightweight/Runtime/MaterialHandle.cs
  com.unity.render-pipelines.lightweight/Runtime/MaterialHandle.cs.meta
  com.unity.render-pipelines.lightweight/Runtime/Passes/BeginXRRenderingPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/CreateLightweightRenderTexturesPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/DirectionalShadowsPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/DrawSkyboxPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/EndXRRenderingPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/LocalShadowsPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/OpaquePostProcessPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/RenderOpaqueForwardPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/RenderTransparentForwardPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/SceneViewDepthCopy.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/ScreenSpaceShadowResolvePass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/SetupForwardRenderingPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/SetupLightweightConstanstPass.cs
  com.unity.render-pipelines.lightweight/Runtime/Passes/TransparentPostProcessPass.cs
  com.unity.render-pipelines.lightweight/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.lightweight/ShaderLibrary/Core.hlsl
  com.unity.render-pipelines.lightweight/Shaders/LightweightStandardParticles.shader
  com.unity.render-pipelines.lightweight/Shaders/LightweightStandardParticlesSimpleLighting.shader
  com.unity.render-pipelines.lightweight/Shaders/Terrain/VertexLit.shader
  com.unity.testing.srp.lightweight/Tests/Scenes/046_Camera_OpaqueTexture.unity
  com.unity.testing.srp.lightweight/Tests/Scenes/052_LWCallbacks/CameraCallbackTests.cs
Labels: lwrp

#2036 Avoid recomputing FGD tables every frame
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
Labels: HDRP

#2016 Merge HDRP/Staging
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ReflectionSystemInternal.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceShadow.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs.orig
Labels: HDRP

#1952 Remove subgraph property warning from regular graphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph, bug-fix

#1954 Fix slider control
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Controls/SliderControl.cs
Labels: Shader Graph, bug-fix

#2004 Remove ProbeWrapper
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/PlanarReflectionProbeEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDAdditionalReflectionData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/PlanarReflectionProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ProbeWrapper.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ProbeWrapper.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ReflectionSystemInternal.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/Volume/InfluenceVolume.cs
Labels: HDRP

#2034 Motion vector and Fabric Translucency
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1501_Fabric.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9001_Decals.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1501_Fabric.png
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/BaseUnlitUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/ShaderPass/FabricDepthPass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
Labels: HDRP

#2053 Fix directional shadow for volumetric
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.compute
Labels: HDRP

#1453 Fix for "Show Generated Code"
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Util/GraphUtil.cs
Labels: Shader Graph, bug-fix

#2057 Added a custom callback to bypass HDRP rendering for a specific camera
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#2059 Update shadow system
  com.unity.render-pipelines.high-definition/Editor/Lighting/AdditionalShadowDataEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/RenderPipelineSettingsUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedShadowInitParameters.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedShadowInitParameters.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/ShadowInitParametersUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/ShadowInitParametersUI.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/Deferred.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ShaderVariablesLightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/Shadow.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/Shadow.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Lighting.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/AdditionalShadowData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/DebugDisplayShadowMap.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/DebugDisplayShadowMap.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadow.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/Shadow.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/Shadow.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/Shadow.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/Shadow.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowAlgorithms.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowBase.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowBase.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowBase.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowBase.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowSampling.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowSampling.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowTexFetch.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowTexFetch.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowUtilities.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowUtilities.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/VectorArray.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/VectorArray.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumeVoxelization.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit_Basemap.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
Labels: HDRP

#2064 Add NaN & +/- infinity check to non-master node previews
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Util/ShaderGenerator.cs
Labels: Shader Graph, new-functionality

#2066 Fixed re-create of DepthPyramid RT when loading renderdoc
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
Labels: HDRP

#2062 Update shader processor and fix render resources asset and motion vectors
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Editor/Material/BaseShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/LitShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/StackLitShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/StackLitShaderPreprocessor.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/UnlitShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/UnlitShaderPreprocessor.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit_Basemap.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit_Basemap_Gen.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Material/DefaultHDTerrainMaterial.mat
Labels: HDRP

#2068 Fix issue with debug display mode
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadow.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForward.hlsl
Labels: HDRP

#2060 Optimize SSR by using a structured buffer instead of a constant buffer for mip level offsets
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#2063 Lw/api review v6
  com.unity.render-pipelines.lightweight/Editor/ShaderGraph/lightweightPBRForwardPass.template
  com.unity.render-pipelines.lightweight/Runtime/Data/LightweightRenderPipelineAsset.cs
  com.unity.render-pipelines.lightweight/ShaderLibrary/Core.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/Lighting.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/Particles.hlsl
  com.unity.render-pipelines.lightweight/Shaders/LitForwardPass.hlsl
  com.unity.render-pipelines.lightweight/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.lightweight/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.lightweight/Shaders/Particles/ParticlesUnlit.shader
  com.unity.render-pipelines.lightweight/Shaders/SimpleLitForwardPass.hlsl
  com.unity.render-pipelines.lightweight/Shaders/Terrain/TerrainDetailLit.shader
  com.unity.render-pipelines.lightweight/Shaders/Terrain/TerrainLitPasses.hlsl
  com.unity.render-pipelines.lightweight/Shaders/Terrain/WavingGrassPasses.hlsl
  com.unity.render-pipelines.lightweight/Shaders/Unlit.shader
Labels: lwrp

#2054 culling group manager, to get rid of more GC.Alloc's
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ReflectionProbeCullResults.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ReflectionSystemInternal.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/CullingGroupManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/CullingGroupManager.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#2067 Move space convertion functions
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/SpaceTransforms.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/SpaceTransforms.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesFunctions.hlsl
  com.unity.render-pipelines.lightweight/ShaderLibrary/Input.hlsl
  com.unity.shadergraph/ShaderGraphLibrary/ShaderVariablesFunctions.hlsl
  com.unity.shadergraph/package.json
Labels: HDRP, Shader Graph, lwrp
