Repository Unity-Technologies/ScriptableRenderPipeline, pull requests merged in 2018-07, with the labels that each got.

#1579 Fix initialization of vector properties when duplicating subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/Vector1MaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector2MaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector3MaterialSlot.cs
Labels: Shader Graph, bug-fix, high-priority, needs-backport-2018.2

#1462 Added Sphere Mask Node
  com.unity.shadergraph/.data/sphereMask.PNG
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/SphereMaskNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/SphereMaskNode.cs.meta
Labels: Shader Graph, new-functionality

#1551 Lw/platform fixes
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Terrain/InputSurfaceGrass.hlsl
Labels: lwrp

#1610 Remove PostProcessing dependency from Core
  com.unity.render-pipelines.core/CoreRP/Editor/com.unity.render-pipelines.core.Editor.asmdef
  com.unity.render-pipelines.core/CoreRP/Utilities/CoreUtils.cs
  com.unity.render-pipelines.core/CoreRP/com.unity.render-pipelines.core.Runtime.asmdef
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition/HDRP/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDUtils.cs
Labels: HDRP, api-change

#1611 HDRP: More renaming for camera relative rendering
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightDefinition.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/VolumeProjection.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/VolumetricLighting.compute
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitReference.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderConfig.cs.hlsl
Labels: HDRP

#1612 HDRP: Add extra Light units (Candela, Luminance)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.Styles.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/Lit/LitShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Upgraders/UpgradeMenuItem.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/GlobalIlluminationUtils.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightUtils.cs
Labels: HDRP

#1580 Fix duplication of code from Surf to Vert in HDPBR Subshader meta generation
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRSubShader.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitSubShader.cs
  com.unity.shadergraph/CHANGELOG.md
Labels: HDRP, Shader Graph, bug-fix, needs-backport-2018.2

#1568 Fix dielectric specular control
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Controls/DielectricSpecularControl.cs
Labels: Shader Graph, bug-fix, needs-backport-2018.2

#1621 Fix initialization of vector properties when duplicating subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/Vector1MaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector2MaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector3MaterialSlot.cs
Labels: Shader Graph, backport-2018.2

#1625 Fix texture and boolean property types in subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph, backport-2018.2

#1458 Fix texture and boolean property types in subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph, bug-fix, needs-backport-2018.2

#1570 XRGConfig: New interface to XRSettings for SRP
  com.unity.render-pipelines.core/CoreRP/XR.meta
  com.unity.render-pipelines.core/CoreRP/XR/XRGraphicsConfig.cs
  com.unity.render-pipelines.core/CoreRP/XR/XRGraphicsConfig.cs.meta
  com.unity.render-pipelines.lightweight/LWRP/Data/LightweightPipelineAsset.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/LightweightPipelineAssetEditor.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightForwardRenderer.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipelineCore.cs
Labels: XR

#1658 Fixed distortion 1-frame delay
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, backport-2018.2

#1666 Fix light intensity upgrade for disabled lights
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, backport-2018.2

#1694 Light loop clear dispatch fix
  com.unity.render-pipelines.high-definition/CHANGELOG.md.orig
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/cleardispatchindirect.compute
Labels: HDRP

#1697 Fix/coupling hdcamera workflow
  com.unity.render-pipelines.high-definition/HDRP/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Camera/HDCameraEditor.cs
Labels: HDRP

#1569 Fix TextureSlotControl not accepting Render Textures
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/Slots/TextureSlotControlView.cs
Labels: Shader Graph, bug-fix, needs-backport-2018.2

#1682 Fix TextureSlotControl not accepting Render Textures
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/Slots/TextureSlotControlView.cs
Labels: Shader Graph, backport-2018.2, bug-fix

#1692 Fix/update version hdrp components
  com.unity.render-pipelines.high-definition/HDRP/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDAdditionalReflectionData.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/PlanarReflectionProbe.cs
Labels: HDRP

#1691 Changed version in HDAdditionalLightData from float to int
  com.unity.render-pipelines.core/CoreRP/Shadow/AdditionalShadowData.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP

#1674 Decals/v2/per channel mask new ui
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/Decal/DecalUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderPipeline/Settings/GlobalDecalSettingsUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderPipeline/Settings/SerializedGlobalDecalSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DBufferManager.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalProjectorComponent.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/GlobalDecalSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.shader
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#1704 Refactoring of HDRP constant buffers
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/AtmosphericScattering.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/AtmosphericScattering.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/AtmosphericScattering.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/AtmosphericScattering.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/AtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/AtmosphericScattering.hlsl.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/ExponentialFog.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/ExponentialFog.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/LinearFog.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/LinearFog.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/OpaqueAtmosphericScattering.shader
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/OpaqueAtmosphericScattering.shader.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/ShaderVariablesAtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/ShaderVariablesAtmosphericScattering.hlsl.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/VolumetricFog.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/AtmosphericScattering/VolumetricFog.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/ShaderVariablesLightLoop.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/ShaderVariablesLightLoop.hlsl.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/ScreenSpaceLighting.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceLighting.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceLighting.hlsl.meta
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/ShaderVariablesDecal.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/ShaderVariablesDecal.hlsl.meta
  com.unity.render-pipelines.high-definition/HDRP/Material/Material.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/ShaderVariablesSubsurfaceScattering.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/ShaderVariablesSubsurfaceScattering.hlsl.meta
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScattering.hlsl
  com.unity.render-pipelines.high-definition/HDRP/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariablesFunctions.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Sky/SkyVariables.hlsl
Labels: HDRP

#1550 Added Normal Derive Nodes
  com.unity.shadergraph/.data/normal_derive_nodes.PNG
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalFromHeightNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalFromHeightNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalFromTextureNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalFromTextureNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalReconstructZNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalReconstructZNode.cs.meta
Labels: Shader Graph, new-functionality

#1527 Added Texel Size Node
  com.unity.shadergraph/.data/texel_size_node.PNG
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/TextureShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/TexelSizeNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/TexelSizeNode.cs.meta
Labels: Shader Graph, new-functionality

#1547 Added Wave Form Nodes
  com.unity.shadergraph/.data/wave_form_nodes.PNG
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave.meta
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/NoiseSineWaveNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/NoiseSineWaveNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/SawtoothWaveNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/SawtoothWaveNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/SquareWaveNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/SquareWaveNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/TriangleWaveNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/TriangleWaveNode.cs.meta
Labels: Shader Graph, new-functionality

#1590 Generate correct depth and shadow passes for LW with alpha clip
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightPBRSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightUnlitSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightPBRExtraPasses.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightUnlitExtraPasses.template
  com.unity.shadergraph/CHANGELOG.md
Labels: Shader Graph, bug-fix, lwrp, needs-backport-2018.2

#1651 Set stage capability for Texture2DArray and Texture3D nodes
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture2DArrayNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture3DNode.cs
Labels: Shader Graph, bug-fix, needs-backport-2018.2

#1684 Generate correct depth and shadow passes for LW with alpha clip
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightPBRSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightUnlitSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightPBRExtraPasses.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightUnlitExtraPasses.template
  com.unity.shadergraph/CHANGELOG.md
Labels: Shader Graph, backport-2018.2, bug-fix

#1685 Set stage capability for Texture2DArray and Texture3D nodes
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture2DArrayNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleTexture3DNode.cs
Labels: Shader Graph, backport-2018.2, bug-fix

#1747 Decal shader stripping and upgrade script + fix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/BaseShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/Decal/DecalUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/Lit/BaseLitUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderPipeline/Settings/FrameSettingsUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderPipeline/Settings/RenderPipelineSettingsUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderPipeline/Settings/SerializedFrameSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderPipeline/Settings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Upgraders/HDRPVersion.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Upgraders/UpgradeMenuItem.cs
  com.unity.render-pipelines.high-definition/HDRP/HDRenderPipelineAsset.asset
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DBufferManager.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.cs.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/ShaderVariablesDecal.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Material.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/StackLit/StackLit.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Sky/AtmosphericScattering.meta
Labels: HDRP

#1679 Refactor reflectionprobe 0 : make probes common ancestor
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/PlanarReflectionProbeUI.Handles.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/SerializedHDReflectionProbe.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/SerializedPlanarReflectionProbe.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDAdditionalReflectionData.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDProbe.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/PlanarReflectionProbe.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/ProbeWrapper.cs
Labels: HDRP

#1727 Fixed some issues with ambient probe baking and reflection probe capture
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1401_StackLit.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9005_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9201_Camera-relative-rendering.png
  com.unity.render-pipelines.high-definition/HDRP/Editor/Sky/HDRISky/HDRISkyEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Sky/ProceduralSky/ProceduralSkyEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Sky/SkySettingsEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Sky/HDRISky/HDRISkyRenderer.cs
  com.unity.render-pipelines.high-definition/HDRP/Sky/ProceduralSky/ProceduralSkyRenderer.cs
  com.unity.render-pipelines.high-definition/HDRP/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/HDRP/Sky/SkyRenderer.cs
  com.unity.render-pipelines.high-definition/HDRP/Sky/SkyRenderingContext.cs
  com.unity.render-pipelines.high-definition/HDRP/Sky/SkySettings.cs
Labels: HDRP

#1760 Refactor reflectionprobe/use separate influence volume class for hd reflection probe too
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDAdditionalReflectionDataEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDAdditionalReflectionDataEditor.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeEditor.Gizmos.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeEditor.Handles.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeEditorUtility.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/PlanarReflectionProbeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/ReflectionMenuItem.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/SerializedHDReflectionProbe.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/SerializedPlanarReflectionProbe.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Gizmos.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Handles.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/Volume/ProxyVolumeUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/Volume/SerializedInfluenceVolume.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDAdditionalReflectionData.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/PlanarReflectionProbe.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/ProbeWrapper.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/Volumes/InfluenceVolume.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/Volumes/ProxyVolume.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/Volumes/ShapeType.cs
Labels: HDRP

#1686 Remove all legacy matrices from Shader Graph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Matrix/TransformationMatrixNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/CameraNode.cs
  com.unity.shadergraph/Editor/Data/Util/MatrixNames.cs
Labels: Shader Graph, backport-2018.2, bug-fix

#1652 Remove all legacy matrices from Shader Graph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Matrix/TransformationMatrixNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/CameraNode.cs
  com.unity.shadergraph/Editor/Data/Util/MatrixNames.cs
Labels: Shader Graph, bug-fix, needs-backport-2018.2

#1785 Remove _NORMAL_BLEND_SRC_B keyword in decal
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9001_Decals/Decal_All_ColorTint.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9001_Decals/Decal_BlendMask.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9001_Decals/Decal_BlendMask_Factor05.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9001_Decals/Decal_BlendMask_NoAlbedo.mat
  com.unity.render-pipelines.high-definition/HDRP/Editor/Material/Decal/DecalUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalData.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/Decal/DecalProperties.hlsl
Labels: HDRP

#1791 Core test project and unsafe utilities
  TestProjects/CoreRP_Tests/Assets/EditModeTests.meta
  TestProjects/CoreRP_Tests/Assets/EditModeTests/Unity.RenderPipelines.Core.Tests.asmdef
  TestProjects/CoreRP_Tests/Assets/EditModeTests/Unity.RenderPipelines.Core.Tests.asmdef.meta
  TestProjects/CoreRP_Tests/Assets/EditModeTests/Utilities.meta
  TestProjects/CoreRP_Tests/Assets/EditModeTests/Utilities/CoreUnsafeUtilsTests.cs
  TestProjects/CoreRP_Tests/Assets/EditModeTests/Utilities/CoreUnsafeUtilsTests.cs.meta
  TestProjects/CoreRP_Tests/Packages/manifest.json
  TestProjects/CoreRP_Tests/ProjectSettings/AudioManager.asset
  TestProjects/CoreRP_Tests/ProjectSettings/ClusterInputManager.asset
  TestProjects/CoreRP_Tests/ProjectSettings/DynamicsManager.asset
  TestProjects/CoreRP_Tests/ProjectSettings/EditorBuildSettings.asset
  TestProjects/CoreRP_Tests/ProjectSettings/EditorSettings.asset
  TestProjects/CoreRP_Tests/ProjectSettings/GraphicsSettings.asset
  TestProjects/CoreRP_Tests/ProjectSettings/InputManager.asset
  TestProjects/CoreRP_Tests/ProjectSettings/NavMeshAreas.asset
  TestProjects/CoreRP_Tests/ProjectSettings/Physics2DSettings.asset
  TestProjects/CoreRP_Tests/ProjectSettings/PresetManager.asset
  TestProjects/CoreRP_Tests/ProjectSettings/ProjectSettings.asset
  TestProjects/CoreRP_Tests/ProjectSettings/ProjectVersion.txt
  TestProjects/CoreRP_Tests/ProjectSettings/QualitySettings.asset
  TestProjects/CoreRP_Tests/ProjectSettings/TagManager.asset
  TestProjects/CoreRP_Tests/ProjectSettings/TimeManager.asset
  TestProjects/CoreRP_Tests/ProjectSettings/UnityConnectSettings.asset
  TestProjects/CoreRP_Tests/ProjectSettings/VFXManager.asset
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/CoreRP/Utilities/CoreUnsafeUtils.cs
  com.unity.render-pipelines.core/CoreRP/Utilities/CoreUnsafeUtils.cs.meta
  com.unity.render-pipelines.core/CoreRP/Utilities/CoreUtils.cs
Labels: SRP

#1795 Use the correct sampler for density volumes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/VolumeVoxelization.compute
  com.unity.render-pipelines.high-definition/HDRP/ShaderVariables.hlsl
Labels: HDRP

#1790 Indirect lighting control volume
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/IndirectLightingControllerEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/IndirectLightingControllerEditor.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/IndirectLightingController.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/IndirectLightingController.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceLighting.hlsl
  com.unity.render-pipelines.high-definition/HDRP/Material/MaterialUtilities.hlsl
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#1804 Fix LW extra passes templates
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightPBRExtraPasses.template
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/lightweightUnlitExtraPasses.template
Labels: Shader Graph, bug-fix, high-priority

#1794 Remove Pass Dependency on Renderer
  TestProjects/LWGraphicsTest/Assets/TestScripts/CustomLWPipe.cs
  com.unity.render-pipelines.lightweight/LWRP/DefaultRendererSetup.cs
  com.unity.render-pipelines.lightweight/LWRP/IRendererSetup.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightForwardRenderer.cs
  com.unity.render-pipelines.lightweight/LWRP/LightweightPipeline.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/BeginXRRenderingPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/CopyColorPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/CreateLightweightRenderTexturesPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DirectionalShadowsPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/DrawSkyboxPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/EndXRRenderingPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/LightweightForwardPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/LocalShadowsPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/OpaquePostProcessPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/RenderOpaqueForwardPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/RenderTransparentForwardPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/SceneViewDepthCopy.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/ScreenSpaceShadowResolvePass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/SetupForwardRenderingPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/SetupLightweightConstanstPass.cs
  com.unity.render-pipelines.lightweight/LWRP/Passes/TransparentPostProcessPass.cs
Labels: lwrp

#1670 Small Node Fixes
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Blend/BlendMode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Blend/BlendNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalStrengthNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Noise/SimpleNoiseNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Shape/PolygonNode.cs
Labels: Shader Graph, bug-fix

#1695 Added new Rotation about axis node
  com.unity.shadergraph/.data/rotate_about_axis_node.png
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/RotateAboutAxisNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/RotateAboutAxisNode.cs.meta
Labels: Shader Graph, new-functionality

#1811 Fixed _WorldToShadow warning.
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LWRP/Passes/DirectionalShadowsPass.cs
  com.unity.render-pipelines.lightweight/LWRP/ShaderLibrary/Shadows.hlsl
Labels: lwrp

#1809 Hdrp/fix/reflection probe offset with rotation
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDReflectionProbeEditor.Gizmos.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Reflection/HDAdditionalReflectionData.cs
Labels: HDRP

#1801 New Volume Texture Tool.
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Volumetric/Texture3DCreationEditor.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Volumetric/volumeTextureTool.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Volumetric/volumeTextureTool.cs.meta
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/DensityVolume.cs
  com.unity.render-pipelines.high-definition/HDRP/Lighting/Volumetrics/DensityVolumeManager.cs
Labels: HDRP

#1810 Fixed TextureCache2D mipmap check for RenderTextures
  com.unity.render-pipelines.core/CoreRP/Textures/TextureCache.cs
Labels: HDRP
