Repository Unity-Technologies/ScriptableRenderPipeline, pull requests merged in 2018-05, with the labels that each got.

#1261 Fixed LoDFade instancing parameter to comply with latest C++ fix.
  ScriptableRenderPipeline/Core/CoreRP/ShaderLibrary/UnityInstancing.hlsl
Labels: HDRP

#1352 Ensure the blackboard remains in view after deserialization
  ShaderGraph/CHANGELOG.md
  ShaderGraph/com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#1350 LWRP XR Single-pass Instancing and Multi-view Support
  ScriptableRenderPipeline/Core/CoreRP/ShaderLibrary/UnityInstancing.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipeline.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/InputBuiltin.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/LightweightPassDepthOnly.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightSampling.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightScreenSpaceShadows.shader
Labels: lwrp

#1337 Lw/api refactor v1
  ScriptableRenderPipeline/Core/CoreRP/Utilities/CoreUtils.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Data/LightweightPipelineAsset.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/LightweightCameraEditor.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightForwardRenderer.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightForwardRenderer.cs.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipeline.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipelineCore.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightShadowPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightShadowUtils.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightShadowUtils.cs.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/DepthOnlyPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/DepthOnlyPass.cs.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/DirectionalShadowsPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/DirectionalShadowsPass.cs.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/ForwardLitPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/ForwardLitPass.cs.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/LocalShadowsPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/LocalShadowsPass.cs.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/ScreenSpaceShadowResolvePass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/ScreenSpaceShadowResolvePass.cs.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/ScriptableRenderPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/ScriptableRenderPass.cs.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/DepthCopy.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Shadows.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightScreenSpaceShadows.shader
Labels: lwrp

#1367 Added support to DynamicBatching. It's enabled by default and can be…
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Data/LightweightPipelineAsset.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/LightweightAssetEditor.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightForwardRenderer.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipeline.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipelineCore.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/DepthOnlyPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/DirectionalShadowsPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/ForwardLitPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/LocalShadowsPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/ScreenSpaceShadowResolvePass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Passes/ScriptableRenderPass.cs
Labels: lwrp

#1369 Define REVERSE_ZBUF for Switch platform (Revisited)
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/ShaderBase.hlsl
Labels: HDRP

#1353 Fix drag and drop
  ShaderGraph/com.unity.shadergraph/Editor/Drawing/Manipulators/GraphDropTarget.cs
  ShaderGraph/com.unity.shadergraph/Editor/Drawing/Manipulators/GraphDropTarget.cs.meta
  ShaderGraph/com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  ShaderGraph/com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph, needs-backport2018.1

#1382 Improved volume UI & styling
  ScriptableRenderPipeline/Core/CHANGELOG.md
  ScriptableRenderPipeline/Core/CoreRP/Editor/CoreEditorStyles.cs
  ScriptableRenderPipeline/Core/CoreRP/Editor/CoreEditorUtils.cs
  ScriptableRenderPipeline/Core/CoreRP/Editor/Volume/VolumeComponentEditor.cs
Labels: enhancement

#1384 Disable depth multisample resolve
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightForwardRenderer.cs
Labels: lwrp

#1397 Feature/ssr
  com.unity.render-pipelines.high-definition/HDRP/Editor/Lighting/Reflection/HDCubemapInspector.cs
  com.unity.render-pipelines.high-definition/HDRP/HDRenderPipeline.cs
Labels: HDRP

#1416 Fix default textures
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph

#1417 HDRP: Change settigs name from supportForwardOnly to supportOnlyForward
  com.unity.render-pipelines.high-definition/HDRP/Editor/BuildPlayer/HDRPVariantStripper.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderLoopSettings/RenderPipelineSettingsUI.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/RenderLoopSettings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/HDRP/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/FrameSettings.cs
  com.unity.render-pipelines.high-definition/HDRP/RenderPipeline/RenderPipelineSettings.cs
Labels: needs-backport2018.2

#1414 Fix HD subshader lightmap support
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRSubShader.cs
Labels: Shader Graph, needs-backport2018.2

#1413 Updated changelog with show generated code section
  com.unity.shadergraph/.data/show_generated_code.gif
  com.unity.shadergraph/CHANGELOG.md
Labels: Shader Graph, needs-backport2018.2

#1415 Language review of changelog
  com.unity.shadergraph/CHANGELOG.md
Labels: needs-backport2018.2

#1424 Fix for node creation on spacebar
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph, needs-backport2018.2

#1423 Fixes for Subgraph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
Labels: Shader Graph

#1437 Fixed HD Unlit filepath
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitSubShader.cs
Labels: Shader Graph, needs-backport-2018.2

#1440 Fixes for visual issues on nodes
  com.unity.shadergraph/Editor/Resources/Styles/Controls/EnumControlView.uss
  com.unity.shadergraph/Editor/Resources/Styles/MaterialNodeView.uss
Labels: Shader Graph, needs-backport-2018.2

#1435 Import dependencies
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDPBRSubShader.cs
  com.unity.render-pipelines.high-definition/HDRP/Editor/ShaderGraph/HDUnlitSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightPBRSubShader.cs
  com.unity.render-pipelines.lightweight/LWRP/Editor/ShaderGraph/LightWeightUnlitSubShader.cs
  com.unity.shadergraph/Editor/Data/Graphs/IShaderGraph.cs
  com.unity.shadergraph/Editor/Data/Graphs/MaterialGraph.cs
  com.unity.shadergraph/Editor/Data/MasterNodes/ISubShader.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/IMasterNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/MasterNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph, needs-backport-2018.2
