Repository Unity-Technologies/ScriptableRenderPipeline, pull requests merged in 2018-04, with the labels that each got.

#1152 Lw/multipass
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Data/LightweightPipelineAsset.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/LightweightAssetEditor.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightConstantBuffer.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipeline.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipelineUtils.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightShadowPass.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightShadowPass.cs.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Input.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/InputSurfaceSimple.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Lighting.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/LightweightPassLit.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/LightweightPassLitSimple.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/LightweightPassLitSimple.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Shadows.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightScreenSpaceShadows.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandard.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandardParticlesSimpleLighting.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandardSimpleLighting.shader
Labels: lwrp

#1164 Fixed Y-flip in HD when a camera is rendering to a RT
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDRenderPipeline.cs
Labels: HDRP

#1163 Fixed Y-flip in LW when a camera is rendering to a RT
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipeline.cs
Labels: lwrp

#1167 Fixed Y-flip in LW when a camera is rendering to a RT
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipeline.cs
Labels: backport2018.1, lwrp

#1166 Backport/shadergraph template fixes #1153
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/ShaderGraph/lightweightPBRExtraPasses.template
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/ShaderGraph/lightweightPBRForwardPass.template
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/ShaderGraph/lightweightUnlitExtraPasses.template
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/ShaderGraph/lightweightUnlitPass.template
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandard.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandardSimpleLighting.shader
Labels: backport2018.1, lwrp

#1171 Fix shader include paths
  ScriptableRenderPipeline/Core/CoreRP/ShaderLibrary/EntityLighting.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/EditorRenderPipelineResources/ReflectionProbesPreview.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/lightlistbuild-bigtile.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/lightlistbuild-clustered.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/lightlistbuild.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/materialflags.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/scrbound.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/LayeredLit/LayeredLit.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/LayeredLit/LayeredLitTessellation.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Lit/LitTessellation.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Unlit/Unlit.shader
Labels: SRP

#1177 Fix for GPU crash on some platforms when using a directional light with no shadows
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/LightLoop.cs
Labels: HDRP

#1165 Lw/fix shadow tile initialization
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipeline.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipelineUtils.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightShadowPass.cs
Labels: lwrp

#1186 Backport/rc fixes
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/ShaderGUI/LightweightShaderGUI.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/ShaderGUI/LightweightStandardGUI.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/ShaderGUI/LightweightStandardParticlesShaderGUI.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/ShaderGUI/LightweightStandardSimpleLightingGUI.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/ShaderGUI/LightweightUnlitGUI.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Materials/Lightweight-Default.mat
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Materials/Lightweight-StandardSimpleLighting.mat
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Lighting.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Particles.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/ParticlesPBR.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandardParticles.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandardParticlesSimpleLighting.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandardParticlesUnlit.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandardUnlit.shader
Labels: backport2018.1, lwrp

#1184 Backport/shadow backports
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightPipeline.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Shadows.hlsl
Labels: backport2018.1, lwrp

#1187 Terrain Shader fixes
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceGrass.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceGrass.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceTerrain.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceTerrain.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceTerrainBase.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceTerrainBase.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassDepthOnlyGrass.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassDepthOnlyGrass.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassLitGrass.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassLitGrass.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassLitTerrain.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassLitTerrain.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandardTerrain.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrain.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrain.shader.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrainAddPass.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrainAddPass.shader.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrainBase.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrainBase.shader.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightWavingGrass.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightWavingGrass.shader.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightWavingGrassBillboard.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightWavingGrassBillboard.shader.meta
Labels: lwrp

#1189 Backport/terrain shader fixes
  ScriptableRenderPipeline/LightweightPipeline/LWRP/LightweightShaderUtils.cs
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceGrass.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceGrass.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceTerrain.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceTerrain.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceTerrainBase.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/InputSurfaceTerrainBase.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassDepthOnlyGrass.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassDepthOnlyGrass.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassLitGrass.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassLitGrass.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassLitTerrain.hlsl
  ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/Terrain/LightweightPassLitTerrain.hlsl.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/LightweightStandardTerrain.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrain.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrain.shader.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrainAddPass.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrainAddPass.shader.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrainBase.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightStandardTerrainBase.shader.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightWavingGrass.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightWavingGrass.shader.meta
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightWavingGrassBillboard.shader
  ScriptableRenderPipeline/LightweightPipeline/LWRP/Shaders/Terrain/LightweightWavingGrassBillboard.shader.meta
Labels: backport2018.1, lwrp

#1190 Fix shader include case sensitiviness
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/EditorRenderPipelineResources/ReflectionProbesPreview.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/lightlistbuild-bigtile.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/lightlistbuild-clustered.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/lightlistbuild.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/materialflags.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/scrbound.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/LayeredLit/LayeredLit.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/LayeredLit/LayeredLitTessellation.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Lit/LitTessellation.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Unlit/Unlit.shader
Labels: SRP, backport2018.1

#1178 Decals/texture atlas
  ScriptableRenderPipeline/Core/CoreRP/ShaderLibrary/Common.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Decal/DecalSystem.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Decal/GlobalDecalSettings.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/RenderLoopSettings/GlobalDecalSettingsUI.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/RenderLoopSettings/SerializedGlobalDecalSettings.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDRenderPipeline.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDStringConstants.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDUtils.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Decal/DBufferManager.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Decal/Decal.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Decal/Decal.cs.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Decal/Decal.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Decal/DecalData.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Decal/DecalUtilities.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/RenderPipelineResources/Blit.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/ShaderPass/ShaderPassDBuffer.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Texture2DAtlas.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Texture2DAtlas.cs.meta
Labels: HDRP

#1185 Add fullscreemedia path
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Camera/HDAdditionalCameraData.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDRenderPipeline.cs
Labels: HDRP

#1188 New StackLit forward only material: Can serve as a basic template for…
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/Material/StackLit.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/Material/StackLit/StackLitUI.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/Material/StackLit/StackLitUI.cs.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Material.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/ShaderPass.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/ShaderPass/StackLitDepthPass.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/ShaderPass/StackLitDepthPass.hlsl.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/ShaderPass/StackLitDistortionPass.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/ShaderPass/StackLitDistortionPass.hlsl.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/ShaderPass/StackLitSharePass.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/ShaderPass/StackLitSharePass.hlsl.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLit.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLit.cs.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLit.cs.hlsl.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLit.cs.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLit.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLit.hlsl.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLit.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLit.shader.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLitData.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLitData.hlsl.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLitProperties.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/StackLit/StackLitProperties.hlsl.meta
Labels: HDRP

#1205 HDRenderPipeline: Fix shader and C# warning + re-arrange lightloop for env
  ScriptableRenderPipeline/Core/CoreRP/ShaderLibrary/Common.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Debug/DebugDisplay.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/LightLoop.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/LightLoopDef.hlsl
Labels: HDRP

#1197 Rename UnityPerCamera CBuffer variables (and set them from C#)
  ScriptableRenderPipeline/Core/CoreRP/ShaderLibrary/Common.hlsl
  ScriptableRenderPipeline/Core/CoreRP/Utilities/CoreUtils.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Camera/HDCamera.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Debug/DebugColorPicker.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Debug/DebugFullScreen.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Debug/DebugViewMaterialGBuffer.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Debug/DebugViewTiles.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDRenderPipeline.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDStringConstants.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/Deferred.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/DeferredDirectionalShadow.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/Deferred.compute
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/LightLoop.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/Volumetrics/VolumetricLighting.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/LayeredLit/LayeredLitData.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Lit/LitData.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/RenderPipelineResources/CameraMotionVectors.shader
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/ShaderPass/ShaderPassDBuffer.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/ShaderPass/VaryingMesh.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/ShaderVariables.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/ShaderVariablesFunctions.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Sky/OpaqueAtmosphericScattering.shader
Labels: HDRP

#1230 Buffered RT History per camera
  CHANGELOG.md
  ScriptableRenderPipeline/Core/CoreRP/Textures/BufferedRTHandleSystem.cs
  ScriptableRenderPipeline/Core/CoreRP/Textures/BufferedRTHandleSystem.cs.meta
  ScriptableRenderPipeline/Core/CoreRP/Textures/DepthBits.cs
  ScriptableRenderPipeline/Core/CoreRP/Textures/DepthBits.cs.meta
  ScriptableRenderPipeline/Core/CoreRP/Textures/MSAASamples.cs
  ScriptableRenderPipeline/Core/CoreRP/Textures/MSAASamples.cs.meta
  ScriptableRenderPipeline/Core/CoreRP/Textures/RTCategory.cs
  ScriptableRenderPipeline/Core/CoreRP/Textures/RTCategory.cs.meta
  ScriptableRenderPipeline/Core/CoreRP/Textures/RTHandleSystem.RTHandle.cs
  ScriptableRenderPipeline/Core/CoreRP/Textures/RTHandleSystem.RTHandle.cs.meta
  ScriptableRenderPipeline/Core/CoreRP/Textures/RTHandleSystem.cs
  ScriptableRenderPipeline/Core/CoreRP/Textures/RTHandleSystem.cs.meta
  ScriptableRenderPipeline/Core/CoreRP/Textures/RTHandles.cs
  ScriptableRenderPipeline/Core/CoreRP/Textures/RTHandles.cs.meta
  ScriptableRenderPipeline/HDRenderPipeline/CHANGELOG.md
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Camera/HDCamera.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Camera/HDCameraFrameHistoryType.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Camera/HDCameraFrameHistoryType.cs.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDCustomSamplerId.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDRenderPipeline.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDUtils.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Lighting/LightLoop/LightLoop.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/MRTBufferManager.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/Decal/DBufferManager.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/GBufferManager.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/RenderPipelineResources/BufferPyramid.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/RenderPipelineResources/BufferPyramidProcessor.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Sky/SkyManager.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Sky/SkyRenderingContext.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Texture2DAtlas.cs
Labels: HDRP

#1179 Added first version of shader variant stripper for Lit* shaders in HDRP.
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/HDRPVariantStripper.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/HDRPVariantStripper.cs.meta
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/RenderLoopSettings/HDRenderPipelineUI.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Editor/RenderLoopSettings/SerializedHDRenderPipelineAsset.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDRenderPipeline.cs
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDRenderPipelineAsset.cs
Labels: HDRP

#1116 Enabled the texture streaming debugging for 2018.2+
  ScriptableRenderPipeline/Core/CoreRP/ShaderLibrary/Common.hlsl
  ScriptableRenderPipeline/HDRenderPipeline/HDRP/Debug/DebugDisplay.cs
Labels: HDRP

#1150 Build Automation fixes
  build.py
Labels: SRP

#1280 Volume improvements
  ScriptableRenderPipeline/Core/CoreRP/Editor/Volume/Drawers/ColorParameterDrawer.cs
  ScriptableRenderPipeline/Core/CoreRP/Editor/Volume/VolumeComponentListEditor.cs
  ScriptableRenderPipeline/Core/CoreRP/Editor/Volume/VolumeEditor.cs
  ScriptableRenderPipeline/Core/CoreRP/Volume/Volume.cs
  ScriptableRenderPipeline/Core/CoreRP/Volume/VolumeManager.cs
Labels: SRP, enhancement
