Repository Unity-Technologies/ScriptableRenderPipeline, pull requests merged in 2020-03, with the labels that each got.

#6025 Universal/bugfix/playerprefs
  TestProjects/UniversalGfxTestStereo/ProjectSettings/URPProjectSettings.asset
  TestProjects/UniversalGraphicsTest/ProjectSettings/URPProjectSettings.asset
  TestProjects/VisualEffectGraph_LWRP/ProjectSettings/URPProjectSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/MaterialPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/MaterialPostprocessor.cs.meta
  com.unity.render-pipelines.universal/Editor/DefaultScene.meta
  com.unity.render-pipelines.universal/Editor/DefaultScene/UniversalProjectSettings.cs
  com.unity.render-pipelines.universal/Editor/DefaultScene/UniversalProjectSettings.cs.meta
Labels: Universal, needs-backport-7.2.x, needs-backport-7.x, needs-backport-8.x

#6039 Fix spelling mistakes in SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
Labels: Universal

#5950 Improve Android (OpenGL ES) Universal RP tests
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-universal.yml
  .yamato/z_editor.yml
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/015_CameraMulti_FPSCam.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/015_CameraMulti_FPSCam.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/SetupProject.cs
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/ProjectSettings/GraphicsSettings.asset
Labels: Universal, testing, yamato

#6012 Removed MSAA Buffers allocation when lit shader mode is set to "deferred only"
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/SharedRTManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6020 Update SRP Core docs
  com.unity.render-pipelines.core/Documentation~/Camera-Switcher.md
  com.unity.render-pipelines.core/Documentation~/Culling-in-SRP.md
  com.unity.render-pipelines.core/Documentation~/Drawing-in-SRP.md
  com.unity.render-pipelines.core/Documentation~/Free-Camera.md
  com.unity.render-pipelines.core/Documentation~/Images/CameraSwitcher1.png
  com.unity.render-pipelines.core/Documentation~/Images/FreeCamera1.png
  com.unity.render-pipelines.core/Documentation~/Problems-That-SRP-Solves.md
  com.unity.render-pipelines.core/Documentation~/SRP-Asset.md
  com.unity.render-pipelines.core/Documentation~/SRP-Context.md
  com.unity.render-pipelines.core/Documentation~/SRP-Instance.md
  com.unity.render-pipelines.core/Documentation~/SRP-Overview.md
  com.unity.render-pipelines.core/Documentation~/TableOfContents.md
  com.unity.render-pipelines.core/Documentation~/XR-in-SRP.md
  com.unity.render-pipelines.core/Documentation~/index.md
  com.unity.render-pipelines.core/package.json
Labels: SRP, docs, needs-backport-7.x, needs-backport-8.x

#6026 Invalid cast for realtime reflection probes (case 1220504)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDCubemapInspector.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6023 AOV buffers graphics test
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/9901_AOV_Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/9901_AOV_Profile.asset.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/AovOutput.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/AovOutput.cs.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/AovShader.hlsl
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/AovShader.hlsl.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/AovShader.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/AovShader.shader.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/Color.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/Color.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/DepthStencil.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/DepthStencil.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/Input.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/Input.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/MotionVectors.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/MotionVectors.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/Normals.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/Normals.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/Output.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/Output.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/9901_AOV_buffers.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/9901_AOV_buffers.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9901_AOV_buffers.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9901_AOV_buffers.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/9901_AOV_buffers.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/9901_AOV_buffers.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/9901_AOV_buffers.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/9901_AOV_buffers.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing

#6022 Deactivate Preview Camera for HDCameraEditor to prevent it from rende…
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.Handlers.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5994 Disable reflection probes section
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5945 Review of the README
  README.md
Labels: docs, needs-backport-7.x, needs-backport-8.x

#5893 Docs/pb sky and object node updates
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.shadergraph/Documentation~/Object-Node.md
Labels: HDRP, Shader Graph, docs, needs-backport-7.x, needs-backport-8.x

#6062 Bugfix: Maximum number of lights incorrect for OpenGLCore
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
Labels: Universal, needs-backport-7.2.x, needs-backport-7.x, needs-backport-8.x

#6057 7.x.x/universal/material leak resource lifecycle
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/106_PostProcessingRenderUICustomRenderer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/106_PostProcessingRenderUICustomRenderer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/UniversalProjectEditorTests.cs
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/ForwardRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRendererData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal, testing

#6069 [CI] Turn off Bors and turn on PR expression triggers
  .github/PULL_REQUEST_TEMPLATE.md
  .yamato/upm-ci-abv.yml
  bors.toml
Labels: needs-backport-7.x, needs-backport-8.x, yamato

#6070 [CI] Expression triggers
  .github/PULL_REQUEST_TEMPLATE.md
  .yamato/upm-ci-abv.yml
Labels: yamato

#6071 [CI] Expression triggers
  .github/PULL_REQUEST_TEMPLATE.md
  .yamato/upm-ci-abv.yml
Labels: yamato

#5856 Integrate first skeleton of post process in render graph.
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandle.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandles.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP, SRP, needs-backport-8.x

#6072 Disable Shader Graph test Input
  TestProjects/ShaderGraph/ProjectSettings/EditorBuildSettings.asset
Labels: Shader Graph, testing

#6076 Made ssr enable parameter true by default.
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6059 removed CollectImportedDependenciesForModelImporter from AssetPostpro…
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
Labels: HDRP, Universal, needs-backport-7.x, needs-backport-8.x

#6056 Add comment on building of prev VP with no translation
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#6040 Added limitation disclaimer to the SSR doc
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
Labels: HDRP, docs, needs-backport-7.x, needs-backport-8.x

#6021 Hdrp /tests/shuriken light module
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/AreaLight.prefab
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/AreaLight.prefab.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Point Light.prefab
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Point Light.prefab.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/SimulateAndPauseSystem.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/SimulateAndPauseSystem.cs.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Spot Light.prefab
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Spot Light.prefab.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9801_ShurikenLightModule.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9801_ShurikenLightModule.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  TestProjects/HDRP_Tests/ProjectSettings/VFXManager.asset
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule.meta
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule.unity
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule.unity.meta
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/AreaLight.prefab
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/AreaLight.prefab.meta
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Point Light.prefab
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Point Light.prefab.meta
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Sky.asset
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Sky.asset.meta
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Spot Light.prefab
  TestProjects/ShurikenLightBug/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/Spot Light.prefab.meta
  TestProjects/ShurikenLightBug/Assets/VFXDefaultResources.asset
  TestProjects/ShurikenLightBug/Assets/VFXDefaultResources.asset.meta
Labels: HDRP, testing

#6017 Update Decal-Shader Doc
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Shader.md
Labels: HDRP, docs, needs-backport-7.x, needs-backport-8.x

#6015 Fix texture curve dispose
  com.unity.render-pipelines.core/Runtime/Utilities/TextureCurve.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeComponent.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeParameter.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeStack.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP, SRP

#5933 Fixed broken links, formatting issues, and a missing ToC entry
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
Labels: HDRP, docs, needs-backport-7.x, needs-backport-8.x

#5929 Fix culling of lights with XR SDK
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
Labels: HDRP, XR, needs-backport-7.x, needs-backport-8.x

#5908 Tooltip corrections and typo fixes.
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.cs
Labels: HDRP, docs, needs-backport-7.2.x, needs-backport-7.x, needs-backport-8.x

#5905 Fix issue with shadow caching after GC refactor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5904 Fixed an issue related to transparent objects reading the ray traced indirect diffuse buffer
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
Labels: HDRP, dxr, needs-backport-7.x, needs-backport-8.x

#5902 Fixed an issue with filtering ray traced area lights when the intensity is high or there is an exposure.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.compute
Labels: HDRP, dxr, needs-backport-7.x, needs-backport-8.x

#5898 Use fully formed path for including DepthOfFieldCommon.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldKernel.compute
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6051 Apply surface tint even if no texture is present
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.shader
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#6082 [VFX] Fix instability in spawner test (Win_DX11_editmode)
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXComponentTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXDebugExpressionTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXSpaceBoundTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXSpawnerTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXTestCommon.cs
  TestProjects/VisualEffectGraph/ProjectSettings/EditorSettings.asset
Labels: testing, vfx

#6088 Fix default shader values to be white rather than grey
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
Labels: Universal, needs-backport-7.x, needs-backport-8.x

#6037 [8.x.x] XR/Fix for case 1218714
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalShaderGraphResources.cs
Labels: Shader Graph, Universal, XR, needs-backport-7.x

#6042 Analytics added to Universal
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalAnalytics.cs
  com.unity.render-pipelines.universal/Editor/UniversalAnalytics.cs.meta
Labels: Universal, backported-8.x, needs-backport-7.x

#6045 backport of #6042 Analytics added
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalAnalytics.cs
  com.unity.render-pipelines.universal/Editor/UniversalAnalytics.cs.meta
Labels: Universal

#6044 backport #6042 analytics added
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalAnalytics.cs
  com.unity.render-pipelines.universal/Editor/UniversalAnalytics.cs.meta
Labels: Universal

#6084 HDRP test: split 1205 transparent refraction to avoid Yamato timeout [Skip ci]
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1205_Lit_Transparent_Refraction_a.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1205_Lit_Transparent_Refraction_a.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1205_Lit_Transparent_Refraction_b.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1205_Lit_Transparent_Refraction_b.unity.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/1205_Lit_Transparent_Refraction.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/1205_Lit_Transparent_Refraction_a.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/1205_Lit_Transparent_Refraction_a.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/1205_Lit_Transparent_Refraction_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/1205_Lit_Transparent_Refraction_b.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1205_Lit_Transparent_Refraction.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1205_Lit_Transparent_Refraction_a.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1205_Lit_Transparent_Refraction_a.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1205_Lit_Transparent_Refraction_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1205_Lit_Transparent_Refraction_b.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/1205_Lit_Transparent_Refraction.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/1205_Lit_Transparent_Refraction_a.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/1205_Lit_Transparent_Refraction_a.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/1205_Lit_Transparent_Refraction_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/1205_Lit_Transparent_Refraction_b.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing

#6078 Fixed shader graph and ray tracing after the shader target PR
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/LitSG.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Shared/RayTracingFrameIndex_SG.shadergraph
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/UnlitPass.template
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDIncludes.cs
Labels: HDRP, dxr, testing

#5890 Shader Graph: Fix for Blackboard Location Restoring
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#6095 Fixes about alpha clipping, plus preview mode when PT is on.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Material.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
Labels: HDRP, needs-backport-7.x

#6092 Dcc/remove import dependencies from assetpostprocessors
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6086 Update SSR doc
  com.unity.render-pipelines.high-definition/Documentation~/Dynamic-Resolution.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
Labels: HDRP, docs, needs-backport-7.x, needs-backport-8.x

#6083 Hdrp/rendergraph cleanup
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResource.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResource.cs.meta
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandles.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraphUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequestData.cs
Labels: HDRP, SRP

#6054 Hdrp /fix light prefab infinite reload on inspector gui
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6080 2d/bug fixes
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditorUtility.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: 2d, Universal, needs-backport-7.x, needs-backport-8.x

#5938 Fix Indirect lighting controller internal [skip ci]
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/IndirectLightingController.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5907 Vfx/docs/bulk review
  com.unity.visualeffectgraph/Documentation~/Attributes.md
  com.unity.visualeffectgraph/Documentation~/ComponentAPI.md
  com.unity.visualeffectgraph/Documentation~/ExposedPropertyHelper.md
Labels: docs, needs-backport-7.x, needs-backport-8.x, vfx

#5899 Fixed a bug in semi-transparent shadows (object further than the light casting shadows)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
Labels: HDRP, dxr, needs-backport-7.x, needs-backport-8.x

#6027 Fixed an issue where fog sky color mode could sample NaNs in the sky cubemap
  com.unity.render-pipelines.core/ShaderLibrary/ImageBasedLighting.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/AtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/ShaderVariablesAtmosphericScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/ShaderVariablesAtmosphericScattering.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/IBLFilterCharlie.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, testing, vfx

#6096 Update documentation for Raytracing, Decal and VR
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Projector.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Documentation~/VR-Overview.md
Labels: HDRP, docs, needs-backport-7.x, needs-backport-8.x

#5883 Hdrp / fix default volume profile edition
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5880 Fix culling group was not disposed error in the build
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbeSystem.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5875 Fix Material Samples : Revert correct GUIDs
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/MaterialSamples.unity
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Prefabs/MaterialBall.prefab.meta
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5882 Hdrp /fix emissive mesh on lights
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Light.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/Light/HDAdditionalLightDataEditorExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Light/HDAdditionalLightDataEditorExtension.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/SerializedHDLight.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6077 Hdrp/light multiplier
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Fog.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5860 Update Ray-Tracing documentation typo
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Reflections.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Debug.md
Labels: HDRP, dxr, needs-backport-7.2.x, needs-backport-7.x

#5853 Add warning and workaround instructions if XR single-pass is enabled after the first frame with XR SDK
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/VR-Overview.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRPass.cs
Labels: HDRP, XR, needs-backport-7.x, needs-backport-8.x

#6033 [8.x.x Backport] Fix fog density returning zero with an Unlit Master Node
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalUnlitSubShader.cs
  com.unity.shadergraph/CHANGELOG.md
Labels: Universal

#6035 [7.x.x Backport] Fix fog density returning zero with an Unlit Master Node
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalUnlitSubShader.cs
  com.unity.shadergraph/CHANGELOG.md
Labels: Universal

#6099 Remove info box on Visual Environment and replaced it with info on documentation
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-VisualEnvironment1.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Visual-Environment.md
  com.unity.render-pipelines.high-definition/Editor/Sky/VisualEnvironmentEditor.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#4936 Moved Universal texture formats to GraphicsFormat
  TestProjects/UniversalGraphicsTest/UserSettings/EditorUserSettings.asset
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/Light2DLookupTexture.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScreenSpaceShadowResolvePass.cs
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal

#5870 Changed settings icon with the text "Inspect" [Skip CI]
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
Labels: Universal, needs-backport-7.2.x, needs-backport-7.x, needs-backport-8.x

#6075 2d/upgrader fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DUpgrader.cs
Labels: 2d, Universal, needs-backport-7.x, needs-backport-8.x

#5847 Add missing exposure and mipmap sliders to the planar reflection probe preview
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/PlanarReflectionProbeEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Shaders/GUITextureBlit2SRGB.shader
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5897 Fix issues with ray traced sub surface scattering
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferred.asset
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferred.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetForward.asset
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetForward.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/801_SubSurfaceScattering.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/801_SubSurfaceScatteringDeferred.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/801_SubSurfaceScatteringDeferred.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/802_SubSurfaceScatteringForward.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/802_SubSurfaceScatteringForward.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/801_SubSurfaceScatteringDeferred.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/801_SubSurfaceScatteringDeferred.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/802_SubSurfaceScatteringForward.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/802_SubSurfaceScatteringForward.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/801_SubSurfaceScatteringDeferred.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/801_SubSurfaceScatteringDeferred.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/802_SubSurfaceScatteringForward.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/802_SubSurfaceScatteringForward.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/VFXDefaultResources.asset
  TestProjects/HDRP_DXR_Tests/Assets/VFXDefaultResources.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingSubSurface.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/SubSurface.hlsl
Labels: HDRP, dxr, testing

#6105 [CI] Skip checkout of Editor Priming job [skip ci]
  .yamato/z_editor.yml
Labels: yamato

#6101 Backport #6080 and #6075
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditorUtility.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DUpgrader.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: 2d, Universal

#6100 Backport #6080 and #6075
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditorUtility.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DUpgrader.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: 2d, Universal

#6104 Fix upgrade cookie planar size
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.Migration.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6093 Fix QualitySettings changing without user interaction
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: Universal, high-priority, needs-backport-7.2.x, needs-backport-7.x, needs-backport-8.x

#6106 Fixed a bug in debug light volumes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugLightVolumes.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#5353 Fix Redo for Shader Graph [Extended Version] v2
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
Labels: Shader Graph

#5889 Shader Graph: Fix for "Having Main Preview be Hidden can soft lock all Shader Graph windows"
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#5313 Deleted SG Asset Dialog
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphAssetPostProcessor.cs
Labels: Shader Graph

#5985 [ShaderGraph][Bugfix][8.x.x] Nov-2019 Bug Fixes
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/KeywordTests.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/KeywordNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphOutputNode.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldKeywordView.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldPropertyView.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Internal/Data/KeywordEntry.cs
Labels: Shader Graph, testing

#5984 [ShaderGraph][Bugfix][8.x.x] Fix for "Having Main Preview be Hidden can soft lock all Shader Graph windows
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#6001 SG fix for HDRP-Pipeline-Unassigned Regressions
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.shadergraph/CHANGELOG.md
Labels: HDRP, Shader Graph

#6002 [8.x.x Backort] SG fix for HDRP-Pipeline-Unassigned Regressions
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.shadergraph/CHANGELOG.md
Labels: HDRP, Shader Graph

#6003 [7.x.x Backport] SG fix for HDRP-Pipeline-Unassigned Regressions
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.shadergraph/CHANGELOG.md
Labels: HDRP, Shader Graph

#5980 [Shader Graph] Fix Normal Slot Connection Bug
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitMasterNode.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/MasterNodes/PBRMasterNode.cs
Labels: HDRP, Shader Graph, backported-7.x, backported-8.x

#6048 [Shader Graph][8.x.x] Fix Normal Slot Connection Bug
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitMasterNode.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/MasterNodes/PBRMasterNode.cs
Labels: HDRP, Shader Graph

#6047 [Shader Graph][7.x.x] Fix Normal Slot Connection Bug
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitMasterNode.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/MasterNodes/PBRMasterNode.cs
Labels: HDRP, Shader Graph

#5982 [ShaderGraph][Bugfix][7.x.x][SkipCI] Fixed Undo always making the Master Preview visible
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#6120 Backport removed CollectImportedDependenciesForModelImporter from AssetPostpro… ( #6059)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
Labels: HDRP, Universal

#6121 [8.x.x Backport] Docs/pb sky and object node updates (#5893)
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.shadergraph/Documentation~/Object-Node.md
Labels: HDRP, Shader Graph

#6123 [8.x.x Backport] [VFX] Fix instability in spawner test (Win_DX11_editmode)
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXComponentTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXDebugExpressionTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXSpaceBoundTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXSpawnerTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXTestCommon.cs
  TestProjects/VisualEffectGraph/ProjectSettings/EditorSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: testing, vfx

#6085 7.x.x Platforms Fixes
  TestProjects/ShaderGraph/ProjectSettings/UnityConnectSettings.asset
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
Labels: Shader Graph, Universal, testing

#6127 7.x.x VFX staging
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXOperatorNewTests.cs
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/VFXPasses.template
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXShaderWriter.cs
  com.unity.visualeffectgraph/Editor/Compiler/VFXUniformMapper.cs
  com.unity.visualeffectgraph/Editor/Data/VFXDataParticle.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionCamera.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/Controllers/VFXBlockController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/Controllers/VFXContextController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/Controllers/VFXOperatorController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXDataAnchor.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/Controller/VFXViewController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXManagerEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/CameraHelper.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Collision/CollisionDepth.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Position/PositionCone.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Position/PositionDepth.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXAbstractParticleOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicUpdate.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXSubgraphContext.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/AppendVector.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/PositionDepth.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
  com.unity.visualeffectgraph/Editor/Types/VFXPropertyAttribute.cs
  com.unity.visualeffectgraph/Editor/Types/VFXTypes.cs
  com.unity.visualeffectgraph/Editor/Utilities/pCache/BakeTool/PointCacheBakeTool.Mesh.cs
  com.unity.visualeffectgraph/Editor/Utilities/pCache/PCache.cs
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Universal/VFXPasses.template
Labels: HDRP, testing, vfx

#6126 8.x.x VFX staging
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXCustomSpawnerUpdateCounterTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXCustomSpawnerUpdateCounterTest.cs.meta
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXOperatorNewTests.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXSpawnerTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/08_Shadows.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/12_LocalTransformations.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/16_MeshParticles.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/17_GPUEvent_Simple.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/17_SoftParticles.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/23_InvertTRS_GPU_Event.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/24_MotionVector.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/AngularVelocity.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/FlipbookMotionBlend.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/GradientMapped.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/HDRPFog.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/RenderStates.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene.unity
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/LightingData.asset
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/VFXSlotObject.cs.meta
  com.unity.testing.visualeffectgraph/Scenes/000_MultiOutput.vfx
  com.unity.testing.visualeffectgraph/Scenes/001_Animator.vfx
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXShaderWriter.cs
  com.unity.visualeffectgraph/Editor/Compiler/VFXUniformMapper.cs
  com.unity.visualeffectgraph/Editor/Data/VFXDataParticle.cs
  com.unity.visualeffectgraph/Editor/Debug/VFXUIDebug.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionCamera.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/Controllers/VFXOperatorController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXDataAnchor.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/Controller/VFXViewController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXManagerEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/CameraHelper.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Collision/CollisionDepth.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Position/PositionCone.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Position/PositionDepth.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXAbstractParticleOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicUpdate.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXMeshOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXSubgraphContext.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/AppendVector.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/PositionDepth.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
  com.unity.visualeffectgraph/Editor/Types/VFXPropertyAttribute.cs
  com.unity.visualeffectgraph/Editor/Types/VFXTypes.cs
  com.unity.visualeffectgraph/Editor/Utilities/pCache/BakeTool/PointCacheBakeTool.Mesh.cs
  com.unity.visualeffectgraph/Editor/Utilities/pCache/Operator/VFXOperatorPointCache.cs
  com.unity.visualeffectgraph/Editor/Utilities/pCache/PCache.cs
  com.unity.visualeffectgraph/Editor/VFXAssetEditorUtility.cs
Labels: testing, vfx

#6036 URP/XR/bugfixes-staging
  com.unity.render-pipelines.core/Runtime/Common/XRGraphics.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: Universal, XR, needs-backport-7.x, needs-backport-8.x

#5955 backport #5912 fix shadergraph analytics
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/ShaderGraphAnalytics.cs
Labels: Shader Graph

#6132 [8.x.x] Fix issues with rendering layers [no forward port 9.x]
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyePass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/PBR/ShaderGraph/HDPBRPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
Labels: HDRP, backported-7.x

#6137 [7.x.x Backport] Fix issues with rendering layers #6132 + HDRP All master nodes hybrid support #5661=> Fix DXR player #6130
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyePass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/PBR/ShaderGraph/HDPBRPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.shadergraph/Editor/Data/Nodes/MasterNode.cs
Labels: HDRP, Shader Graph

#6117 [ShaderGraph][7.x.x][skip ci] Fix Input Test Timeout
  TestProjects/ShaderGraph/Assets/Scenes/InputNodes.unity
  TestProjects/ShaderGraph/Assets/Scenes/NormalMapStressTests.unity
Labels: Shader Graph, testing

#6135 Fix Pragma locales
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDPragmas.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalPragmas.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Descriptors/PragmaDescriptor.cs
  com.unity.shadergraph/Editor/Generation/Enumerations/ShaderModel.cs
  com.unity.shadergraph/Editor/Generation/Enumerations/ShaderModel.cs.meta
Labels: HDRP, Shader Graph, Universal

#6136 Fixed macro splice locations for hybrid renderer
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyePass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/PBR/ShaderGraph/PBRPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/UnlitPass.template
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Generation/Templates/PassMesh.template
Labels: HDRP, Shader Graph

#6144 VFX staging to 7.x.x
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXDataAnchor.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphPostProcessor.cs
  com.unity.visualeffectgraph/Editor/VFXAssetEditorUtility.cs
Labels: vfx

#6145 [backport 7.x.x] XR, QualitySettings and minor fixes V2
  com.unity.render-pipelines.core/Runtime/Common/XRGraphics.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalShaderGraphResources.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Particles.hlsl
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: SRP, Shader Graph, Universal

#6098 Wrote the draft upgrade-guide-7-3-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-3-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: Universal, needs-backport-7.x, needs-backport-8.x

#6148 Wrote the draft upgrade-guide-7-3-0.md (#6098)
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-3-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: Universal

#6149 Wrote the draft upgrade-guide-7-3-0.md (#6098)
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-3-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: Universal

#6151 Added URPProjectSettings to ShaderGraph tests.
  TestProjects/ShaderGraph/ProjectSettings/EditorBuildSettings.asset
  TestProjects/ShaderGraph/ProjectSettings/URPProjectSettings.asset
Labels: Shader Graph, testing

#5963 Hybrid Renderer V2 [skip ci]
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/UnityDOTSInstancing.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/UnityDOTSInstancing.hlsl.meta
  com.unity.render-pipelines.core/ShaderLibrary/UnityInstancing.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassRenderersShader.template
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDPasses.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDPragmas.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalMeshTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalPasses.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalPragmas.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalSubShaders.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UniversalDOTSInstancing.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UniversalDOTSInstancing.hlsl.meta
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/BakedLitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/LitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitAdd.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
  com.unity.render-pipelines.universal/Shaders/UnlitInput.hlsl
  com.unity.shadergraph/Editor/Drawing/Views/PBRSettingsView.cs
  com.unity.shadergraph/Editor/Generation/Descriptors/PragmaDescriptor.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Generation/Processors/PropertyCollector.cs
  com.unity.shadergraph/Editor/Generation/Templates/PassMesh.template
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Resources/Shaders/FallbackError.shader
Labels: HDRP, SRP

#6154 [7.x.x backport] Fixed yamato regression [Skip CI]
  TestProjects/ShaderGraph/ProjectSettings/URPProjectSettings.asset
Labels: Shader Graph, testing

#6153 [backport 8.x.x] yamato regression fix [Skip CI]
  TestProjects/ShaderGraph/ProjectSettings/URPProjectSettings.asset
Labels: Shader Graph, testing

#6156 [skip-ci]Update changelog for release
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.shadergraph/CHANGELOG.md
  com.unity.testframework.graphics/CHANGELOG.md
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: HDRP, SRP, Shader Graph, Universal, vfx

#6147 Make isEditorCameraPreview and sky public
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkySettings.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6158 Fixing ray tracing tests
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/3001_AreaShadowsForward.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/3002_AreaShadowsForward_Denoiser.unity
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP, dxr, testing

#6160 Added the UEPL info to the HDRP Features and AxF Shader doc.
  com.unity.render-pipelines.high-definition/Documentation~/AxF-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
Labels: HDRP, docs, needs-backport-7.x, needs-backport-8.x

#5972 Universal/bugfix/1157420
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
Labels: Universal, needs-backport-7.2.x, needs-backport-7.x, needs-backport-8.x

#6163 Fixed transparent SSR for shader graph.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDDefines.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDKeywords.cs
Labels: HDRP

#6164 Fix blend mode and keyword after shader target merge
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitPass.template
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDKeywords.cs
Labels: HDRP

#5981 [ShaderGraph][Bugfix] Fixed Undo always making the Master Preview visible
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph, needs-backport-7.x, needs-backport-8.x

#6168 [7.x.x] Fix documentation link
  com.unity.render-pipelines.high-definition/Documentation~/Customizing-HDRP-materials-with-Shader-Graph.md
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Documentation~/Getting-started-with-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Lit-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Lit-Tessellation-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Look-Dev.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Decal.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Fabric.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Hair.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Unlit.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Tonemapping.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Reflections.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Documentation~/Renderer-And-Material-Priority.md
  com.unity.render-pipelines.high-definition/Documentation~/SGNode-Emission.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.1-to-2019.2.md
  com.unity.render-pipelines.high-definition/Documentation~/VR-Overview.md
Labels: HDRP

#6167 [7.x.x Backport] Fix shader compilation issue with Vulkan and Raytracing
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
Labels: HDRP

#6166 [8.x.x] Fix shader compilation issue with Vulkan and Raytracing
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
Labels: HDRP

#6172 [Backport] Yamato editor priming [skip ci]
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_editor.yml
Labels: yamato

#6169 Wrapped visible instance IDs in a struct so they're properly detected by Vulkan instancing
  com.unity.render-pipelines.core/ShaderLibrary/UnityDOTSInstancing.hlsl
Labels: SRP

#6173 [Backport] Yamato editor priming [skip ci]
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-shadergraph_stereo.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_editor.yml
Labels: yamato

#6174 Fixed an issue with emissive light meshes not being in the RAS
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, dxr

#5983 [SkipCI][ShaderGraph][Bugfix][8.x.x] Fixed Undo always making the Master Preview visible
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#5239 [SkipCI] Shader Graph saving-menus improvements/fixes
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph

#6177 Update RTSSS Screenshots
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/801_SubSurfaceScatteringDeferred.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/802_SubSurfaceScatteringForward.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/801_SubSurfaceScatteringDeferred.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/802_SubSurfaceScatteringForward.png
Labels: HDRP, dxr, testing

#6181 Fix shader compilation issue with Vulkan and Raytracing
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDPasses.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDPragmas.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
Labels: HDRP

#6179 Fix hdasset migration code not being called after a package upgrade
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.Migration.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6176 Fix custom pass out of bounds
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/DrawRenderersCustomPass.cs
Labels: HDRP, backported-7.x, backported-8.x

#6182 Fix PBR master node
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDRenderStates.cs
Labels: HDRP

#6180 Re-add instancing variants to gles shaders
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: Universal

#6159 Reverted QualitySettings change in xr.
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: Universal

#5869 Fixed volume components lifespan in the clipboard
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
Labels: SRP, needs-backport-7.x, needs-backport-8.x

#6097 Fix some typos in the debug menu
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6029 Introduction of water shaders
  com.unity.render-pipelines.high-definition/Runtime/Material/Water.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.hlsl.meta
Labels: HDRP

#6019 Remove ability to create Preset from Shader Graph and Sub Graph assets
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph

#5917 Sg/paste nodes at cursor
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Util/UIUtilities.cs
Labels: Shader Graph

#6108 Fixed ray traced point and spot lights shadows not rejecting history when semi-transparent or colored.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingVisibility.hlsl
Labels: HDRP, dxr

#5851 Diffuse Shadow Denoiser Improvement.
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferred.asset
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/702_DirectionalShadowFiltering.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/702_DirectionalShadowFiltering.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/702_PunctualShadowFiltering.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/702_PunctualShadowFiltering.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/801_SubSurfaceScattering.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/702_DirectionalShadowFiltering.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/702_DirectionalShadowFiltering.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/702_PunctualShadowFiltering.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/702_PunctualShadowFiltering.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/ShadowFilteringScene.prefab
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/ShadowFilteringScene.prefab.meta
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  TestProjects/HDRP_DXR_Tests/ProjectSettings/ProjectSettings.asset
  TestProjects/HDRP_DXR_Tests/UserSettings/EditorUserSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/SerializedHDLight.cs
  com.unity.render-pipelines.high-definition/Editor/RayTracing.meta
  com.unity.render-pipelines.high-definition/Editor/RayTracing/ReflectionKernelGenerator.cs
  com.unity.render-pipelines.high-definition/Editor/RayTracing/ReflectionKernelGenerator.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RayTracing/SolidAngleKernelGenerator.cs
  com.unity.render-pipelines.high-definition/Editor/RayTracing/SolidAngleKernelGenerator.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCameraFrameHistoryType.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRayTracingResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseShadowDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseShadowDenoiser.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/ReflectionKernelGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/ReflectionKernelGenerator.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseShadowDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseShadowDenoiser.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/SolidAngleKernelGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/SolidAngleKernelGenerator.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingVisibility.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRayTracingResources.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/ShadowKernelMapping.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/ShadowKernelMapping.asset.meta
Labels: HDRP, dxr, testing

#6193 Fixed a warning due to StaticLightingSky when reloading domain in some cases.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
Labels: HDRP, needs-backport-7.2.x, needs-backport-7.x, needs-backport-8.x

#6066 Use 2-component edge texture for SMAA on Mali
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: Universal, needs-backport-7.x, needs-backport-8.x

#6195 [7.x.x backport] Fixed a warning due to StaticLightingSky when reloading domain in some cases. (#6193)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
Labels: HDRP

#6140 Fixed URP ShaderGraph undeclared identifier GetWorldSpaceNormalizeViewDir
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalIncludes.cs
Labels: Shader Graph, Universal, XR

#6186 [ShaderGraph][8.x.x] Fix Universal Subshader GUIDs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalPBRSubShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalSpriteLitSubShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalSpriteUnlitSubShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalUnlitSubShader.cs
Labels: Shader Graph, Universal, backported-7.x

#6187 [ShaderGraph][7.x.x] Fix Universal Subshader GUIDs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalPBRSubShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalSpriteLitSubShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalSpriteUnlitSubShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/SubShaders/UniversalUnlitSubShader.cs
Labels: Shader Graph, Universal

#6188 [Shader Graph] Fix Invalid Subscript with Transform node
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
Labels: Shader Graph, backported-7.x, backported-8.x

#6189 [Shader Graph][8.x.x] Fix Invalid Subscript with Transform node
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
Labels: Shader Graph

#6190 [Shader Graph][7.x.x] Fix Invalid Subscript with Transform node
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
Labels: Shader Graph

#4982 test to create all nodes
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/AddAllNodesTest.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/AddAllNodesTest.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/Blank.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/Blank.shadergraph.meta
Labels: Shader Graph

#5971 Virtual Texturing Settings integration
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedVirtualTexturingSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedVirtualTexturingSettings.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/VirtualTexturingSettingsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/VirtualTexturingSettingsUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/VirtualTexturingSettingsUI.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/DefaultSettingsVolumeProfile.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/VirtualTexturingSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/VirtualTexturingSettingsSRP.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/VirtualTexturingSettingsSRP.cs.meta
Labels: HDRP
