Repository Unity-Technologies/ScriptableRenderPipeline, pull requests merged in 2020-02, with the labels that each got.

#5650 Fixed formatting issues
  com.unity.visualeffectgraph/Documentation~/Blocks.md
  com.unity.visualeffectgraph/Documentation~/GettingStarted.md
  com.unity.visualeffectgraph/Documentation~/GraphLogicAndPhilosophy.md
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphWindow.md
Labels: docs, needs-backport-2019.3, vfx

#5716 Vfx/2019.3 staging
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/23_ParameterBinders.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/CollisionInverted.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/ConformAndSDF.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/Noise.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/ParticleStripUnlit.vfx
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/VFXHDRPSubOutput.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor Default Resources/uss/VFXContext.uss
  com.unity.visualeffectgraph/Editor/Core/VFXSettingAttribute.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/Controllers/VFXNodeController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXDataAnchor.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXEditableDataAnchor.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXNodeUI.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Inspector/AdvancedVisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXSlotContainerEditor.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Forces/Turbulence.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/VFXSubgraphBlock.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXSubgraphContext.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/ConstructMatrix.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/ConstructMatrix.cs.meta
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/NoiseBase.cs
  com.unity.visualeffectgraph/Editor/Templates/Simple Heads & Sparks.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Heads & Trails.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Ribbon.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Swarm Particle System.vfx
  com.unity.visualeffectgraph/Editor/Types/VFXPropertyAttribute.cs
  com.unity.visualeffectgraph/Editor/Types/VFXTypesGizmos.cs
  com.unity.visualeffectgraph/Editor/Utilities/EventTester/VFXEventTesterWindow.cs
Labels: HDRP, testing, vfx

#5700 Ray traced reflection smoothness fade and fallback fixes.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/104_ReflectionsNoisy.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/105_ReflectionsDenoised.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/RayTracedReflectionsDenoised.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/RayTracedReflectionsNoisy.asset
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/ReflectionDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingReflectionFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.hlsl
Labels: HDRP, dxr, needs-backport-2019.3, testing

#5691 Fix iridescence color space
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8101_Opaque.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1301_StackLitSG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1303_StackLitSG_Testers_a.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1303_StackLitSG_Testers_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/8101_Opaque.png
  com.unity.render-pipelines.core/ShaderLibrary/BSDF.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-2019.3

#5717 Fix some causes of NaNs on consoles when using probes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCache.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCache2D.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCacheCubemap.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, needs-backport-2019.3

#5721 Merge Hdrp/staging
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/104_ReflectionsNoisy.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/105_ReflectionsDenoised.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/RayTracedReflectionsDenoised.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/RayTracedReflectionsNoisy.asset
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8101_Opaque.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1301_StackLitSG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1303_StackLitSG_Testers_a.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/1303_StackLitSG_Testers_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/8101_Opaque.png
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.core/ShaderLibrary/BSDF.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/RenderPipelineWizard1.png
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Wizard.md
  com.unity.render-pipelines.high-definition/Documentation~/VR-Overview.md
  com.unity.render-pipelines.high-definition/Editor/DefaultScene/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/DefaultScene/HDWizard.UIElement.cs
  com.unity.render-pipelines.high-definition/Editor/DefaultScene/HDWizard.Window.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/DensityVolumeUI.Drawer.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSettingsView.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDShaderUtils.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/EditorDefaultSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/HDRenderPipelineEditorResources.asset
  com.unity.render-pipelines.high-definition/Runtime/Core/Utilities/GeometryUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/TransparencyDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAODenoise.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCameraFrameHistoryType.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineEditorResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/ReflectionDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingReflectionFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequest.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettingsHistory.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP, SRP, testing

#5690 Fix Terrain Detail Mesh (stop to spam) [Require C++ PR]
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-2019.3

#5648 [Waiting for C++] Disable probes in renderers
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-2019.3

#5720 [2019.3 Backport] Add support to run post-processing on each camera in the stack (#5719)
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Materials/Hole_mesh_cutout.mat
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Materials/Hole_mesh_cutout.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Materials/UnlitColor.mat
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Materials/UnlitColor.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/123_CameraStackingClear.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/123_CameraStackingClear.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomLeftRT.renderTexture
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomLeftRT.renderTexture.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomLeftTexture.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomLeftTexture.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomRightRT.renderTexture
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomRightRT.renderTexture.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomRightTexture.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomRightTexture.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopLeftRT.renderTexture
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopLeftRT.renderTexture.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopLeftTexture.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopLeftTexture.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopRightRT.renderTexture
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopRightRT.renderTexture.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopRightTexture.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopRightTexture.mat.meta
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal

#5723 Bump min version of 7.2.0 packages to official releases.
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.testframework.graphics/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, Universal, vfx

#5719 Add support to run post-processing on each camera in the stack
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Materials/Hole_mesh_cutout.mat
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Materials/Hole_mesh_cutout.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Materials/UnlitColor.mat
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Materials/UnlitColor.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/123_CameraStackingClear.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/123_CameraStackingClear.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomLeftRT.renderTexture
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomLeftRT.renderTexture.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomLeftTexture.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomLeftTexture.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomRightRT.renderTexture
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomRightRT.renderTexture.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomRightTexture.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/BottomRightTexture.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopLeftRT.renderTexture
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopLeftRT.renderTexture.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopLeftTexture.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopLeftTexture.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopRightRT.renderTexture
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopRightRT.renderTexture.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopRightTexture.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/124_CameraStackingClearRT/TopRightTexture.mat.meta
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal, needs-backport-2019.3

#5612 Merge Hdrp/fix/case 1210058 to master
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitData.hlsl
Labels: HDRP, SRP, needs-backport-2019.3

#5730 Add API docs for AO volume [Skip CI]
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
Labels: HDRP, docs

#5729 update changelog
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.shadergraph/CHANGELOG.md
  com.unity.testframework.graphics/CHANGELOG.md
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: HDRP, SRP, Shader Graph, Universal, vfx

#5726 Updated missing API doc.
  com.unity.render-pipelines.high-definition/Runtime/Core/Migration/MigrationDescription.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/CameraSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/VolumeComponentWithQuality.cs
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Utility/PropertyBinders/HDRPCameraBinder.cs
Labels: HDRP

#5728 Replace the API doc link by latest available
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass.md
Labels: HDRP

#5725 Added missing exe file for doc window
  TestProjects/HDRP_Tests/Assets/FindMissingDocs/Bin~/FindMissingDocs/FindMissingDocs.exe
Labels: HDRP, testing

#5731 Hdrp/fix wizard dxr os and hardware support
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/DefaultScene/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/DefaultScene/HDWizard.Window.cs
Labels: HDRP

#5738 Fix missing API doc and move to internal diffusion profile class
  com.unity.render-pipelines.high-definition/Runtime/Lighting/DiffusionProfileOverride.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.Types.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/DiffusionProfile/DiffusionProfileSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/CustomPostProcessing/CustomPostProcessInjectionPoint.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineEditorResources.cs
Labels: HDRP

#5736 Contact Shadows, Microshadows and SS Refraction API docs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceRefraction.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/MicroShadowing.cs
Labels: HDRP, docs

#5732 Added script documentation for SSR, SSAO (ray tracing), GI, Light Cluter, RayTracingSettings, Ray Counters, ray traced SSS andRecursive Rendering.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/RayCountManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubSurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/LightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingMode.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RecursiveRendering.cs
Labels: HDRP, dxr, needs-backport-2019.3

#5722 Merge Hdrp/staging [Skip CI]
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/RayCountManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubSurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/LightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingMode.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RecursiveRendering.cs
Labels: HDRP

#5745 Updated camera stacking docs. [Skip CI]
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/light-inspector.png
  com.unity.render-pipelines.universal/Documentation~/Images/camera-inspector-base.png
  com.unity.render-pipelines.universal/Documentation~/Images/camera-inspector-overlay.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/camera-component-reference.md
  com.unity.render-pipelines.universal/Documentation~/camera-stacking.md
  com.unity.render-pipelines.universal/Documentation~/camera-types-and-render-type.md
  com.unity.render-pipelines.universal/Documentation~/cameras-advanced.md
  com.unity.render-pipelines.universal/Documentation~/cameras.md
  com.unity.render-pipelines.universal/Documentation~/faq.md
  com.unity.render-pipelines.universal/Documentation~/lighting.md
  com.unity.render-pipelines.universal/Documentation~/rendering-to-a-render-texture.md
  com.unity.render-pipelines.universal/Documentation~/universal-additional-camera-data.md
  com.unity.render-pipelines.universal/Documentation~/universal-additional-light-data.md
  com.unity.render-pipelines.universal/package.json
Labels: Universal, needs-backport-2019.3

#5746 Add [MainTexture] & [MainColor] attributes to URP shaders.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: Universal, needs-backport-2019.3

#5744 Camera Stacking Fixes Part2
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawSkyboxPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: Universal

#5743 [2019.3 Backport] Camera Stacking Fixes Part2 (#5744)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawSkyboxPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: Universal

#5752 [Backport 2019.3] Update camera stacking docs [Skip CI]
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/light-inspector.png
  com.unity.render-pipelines.universal/Documentation~/Images/camera-inspector-base.png
  com.unity.render-pipelines.universal/Documentation~/Images/camera-inspector-overlay.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/camera-component-reference.md
  com.unity.render-pipelines.universal/Documentation~/camera-stacking.md
  com.unity.render-pipelines.universal/Documentation~/camera-types-and-render-type.md
  com.unity.render-pipelines.universal/Documentation~/cameras-advanced.md
  com.unity.render-pipelines.universal/Documentation~/cameras.md
  com.unity.render-pipelines.universal/Documentation~/faq.md
  com.unity.render-pipelines.universal/Documentation~/lighting.md
  com.unity.render-pipelines.universal/Documentation~/rendering-to-a-render-texture.md
  com.unity.render-pipelines.universal/Documentation~/universal-additional-camera-data.md
  com.unity.render-pipelines.universal/Documentation~/universal-additional-light-data.md
  com.unity.render-pipelines.universal/package.json
Labels: Universal

#5727 Fix AO depth issues
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAOCommon.hlsl
Labels: HDRP

#5750 Update IDataProvider Documentation [skip ci]
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
Labels: HDRP

#5748 Upgrade material upgrade doc to mention P4 case
  com.unity.render-pipelines.high-definition/Documentation~/Material-Upgrade.md
Labels: HDRP, docs

#5747 Hdrp/fix lookdev volume when never assigned
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
Labels: HDRP

#5529 Hdrp/staging pt6
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingLight.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMaterial.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
Labels: HDRP

#5740 Correct light attenuation on Nintendo Switch.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
Labels: Universal, needs-backport-2019.3

#5762 Adding CAS enum doc
  com.unity.render-pipelines.core/Runtime/Common/GlobalDynamicResolutionSettings.cs
Labels: HDRP, SRP, docs

#5761 Added comments to path tracing attributes, for API documentation.
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP

#5760 Fix update platform error message
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#5765 Misc missing api doc.
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubSurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RecursiveRendering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequest.cs
  com.unity.render-pipelines.high-definition/Runtime/Scripting/GameObjectExtension.cs
Labels: HDRP

#5751 Improved memory usage of Sky system.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#5715 Made URP MaterialDescriptionPreprocessors private. [2020.1]
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/AutodeskInteractiveMaterialImport.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
Labels: Universal

#5766 Hdrp/fix lookdev environment on library removal [skip ci]
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/LookDev/Context.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.EnvironmentLibrarySidePanel.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.uss
  com.unity.render-pipelines.core/Editor/LookDev/Environment.cs
Labels: HDRP, SRP

#5770 Added API Documentation + Refactor/Obsoleted Badly named methods
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/ExposedProperty.cs
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/VFXBinderAttribute.cs
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/VFXBinderBase.cs
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/VFXPropertyBinder.cs
Labels: backported-2019.3, vfx

#5772 Fix API validation
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawSkyboxPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
Labels: Universal, needs-backport-7.2.x

#5758 Universal/docs/7.2 docs updates
  com.unity.render-pipelines.universal/Documentation~/InstallingAndConfiguringURP.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/filter.yml
  com.unity.render-pipelines.universal/Documentation~/index.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-2-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-lwrp-to-urp.md
Labels: Universal, docs, needs-backport-2019.3, needs-backport-7.2.x

#5776 [2019.3 backport]
  com.unity.render-pipelines.universal/Documentation~/InstallingAndConfiguringURP.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/filter.yml
  com.unity.render-pipelines.universal/Documentation~/index.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-2-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-lwrp-to-urp.md
Labels: Universal

#5778 [backport 7.2.0] backports [Skip CI]
  com.unity.render-pipelines.universal/Documentation~/InstallingAndConfiguringURP.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/filter.yml
  com.unity.render-pipelines.universal/Documentation~/index.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-2-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-lwrp-to-urp.md
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawSkyboxPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
Labels: Universal

#5780 Removed Obsolete API [Skip CI]
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
  com.unity.render-pipelines.universal/Runtime/Unity.RenderPipelines.Universal.Runtime.asmdef
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal

#5779 Hdrp/fix alignment issues
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSettingValue.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/HDLightingWindowEnvironmentSection.cs
Labels: HDRP

#5774 Fix an issue where hair shader could write garbage in the diffuse lighting buffer.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPass.template
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Aluminium_Satin.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Anodized Metal.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/BlueGlass.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Bricks.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/CarbonFiber.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Fern.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Fern.mat.meta
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/GlassThin.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/GreyFloor.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Leather.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Metal Anisotropy Circles.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Metal Brushed.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Metal Foil.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Nickel.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/OrangeSphereGlass.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/PlasterWall.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/PolishedConcrete.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceBlackArtificialRough.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceBlackArtificialSmooth.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceBlackNaturalRough.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceBlackNaturalSmooth.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceCopperRough.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceCopperSmooth.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceGoldRough.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceGoldSmooth.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceGreyRough.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceGreySmooth.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceSilverRough.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceSilverSmooth.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceWhiteRough.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/ReferenceWhiteSmooth.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Skin Bright.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Skin Dark.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/SoapBubble.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/Unlit.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/WallTiles.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/WoodClean.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Prefabs/MaterialBall.prefab.meta
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Textures/WeavePattern01_F.tga.meta
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/Decal/DC_WaterPuddle.mat
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/Fabric/Cotton.mat
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/Fabric/SG_CottonWool.ShaderGraph
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/Fabric/SG_Silk.ShaderGraph
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/Fabric/Silk.mat
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/Hair/Hair_Lower_Layer.mat
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/Hair/Hair_Upper_Layer.mat
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/Hair/SG_Hair.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/Meshes/Metal.mat
  com.unity.render-pipelines.high-definition/Samples~/ShaderGraphSamples/SampleScene_PostProcessingSettings.asset
Labels: HDRP

#5773 Fixed an exposure issue with ray traced sub-surface scattering.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/801_SubSurfaceScattering.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/Global Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/ProjectSettings/VFXManager.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/CombineLighting.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
Labels: HDRP, dxr

#5767 Make License and changelog compliant with Yamato test
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/LICENSE.md
  com.unity.render-pipelines.high-definition-config/LICENSE.md
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/LICENSE.md
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/LICENSE.md
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/LICENSE.md
  com.unity.shadergraph/LICENSE.md
  com.unity.testframework.graphics/CHANGELOG.md
  com.unity.visualeffectgraph/LICENSE.md
Labels: HDRP, SRP, Shader Graph, Universal, vfx

#5781 Expose currentPlatformRenderPipelineSettings
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
Labels: HDRP

#5753 Fix debug menu light hierarchy
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerBitField.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerIndirectToggle.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#5775 Fix material properties not up to date when updating the preview
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Labels: Shader Graph, needs-backport-2019.3

#5782 Backport Fix material properties not up to date when updating the preview #5575
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Labels: HDRP, Shader Graph

#5790 Added base.onenable and base.ondisable (Take 2)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: Universal

#5784 Correct light attenuation on Nintendo Switch.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
Labels: Universal, backported-2019.3, needs-backport-7.2.x

#5794 Revert "Added base.onenable and base.ondisable (Take 2) (#5790)"
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: Universal

#5793 Fix default planar size when HDRP asset is created
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/GlobalLightLoopSettings.cs
Labels: HDRP

#5795 Moved BeginCameraRendering before culling to avoid a crash
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#5797 Removing camera.forceIntoRenderTexture in ForwardRenderer
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: Universal, needs-backport-2019.3, needs-backport-7.2.x

#5799 Universal/small fixes [Skip CI]
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: Universal

#5798 Hdrp/workaround materialpreset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/MaterialHeaderScope.cs
Labels: HDRP

#5800 [Backport 7.2.x] Small fixes [Skip CI] (#5799)
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: Universal

#5796 Fixed package validation
  com.unity.render-pipelines.universal/Runtime/2D/Light2DBlendStyle.cs
Labels: 2d, Universal

#5792 Universal/update changelog 7.2.0
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: Universal, docs, needs-backport-7.2.x

#5801 Universal/update changelog 7.2.0 (#5792)
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: Universal

#5806 Fixed package validation.
  com.unity.render-pipelines.universal/Runtime/2D/Light2DBlendStyle.cs
Labels: 2d, Universal, backported-7.2.x

#5805 Fix cubemap inspector preview
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDCubemapInspector.cs
Labels: HDRP

#5803 Added base.onenable and base.ondisable
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: Universal

#5810 Fix mouse hover for the cubemap preview inspector
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDCubemapInspector.cs
Labels: HDRP

#5807 Fix metal android build message
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessBuild.cs
Labels: HDRP

#5809 Update Migration Documentation
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.2-to-2019.3.md
Labels: HDRP

#5811 Restored RoughRefraction frame settings value as obsolete for compatibility reasons.
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/FrameSettingsTest.cs
Labels: HDRP

#5585 [Shader Graph] Fix Bug output value vert is not initialized in Universal
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/CodeGen/ShaderSpliceUtil.cs
Labels: Shader Graph, backported-2019.3

#5516 Shader Graph to allow Dragging of Blackboard Properties accross different SGs windows
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph, backported-2019.3

#5813 Update Migration Documentation [missing uncommited part]
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.2-to-2019.3.md
Labels: HDRP

#5816 Fixed reference to the DefaultHDRISky texture in the default volume profile.
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/DefaultSettingsVolumeProfile.asset
Labels: HDRP

#5815 Fixed an issue related to denoising ray trace area shadows.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadowFilter.compute
Labels: HDRP, dxr

#5812 Added a section to the upgrade guide to explain discrepancies between default sky exposure and directional lights.
  com.unity.render-pipelines.high-definition/Documentation~/Getting-started-with-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.2-to-2019.3.md
Labels: HDRP

#5814 Fixed links, resized images, and reviewed samples and projects doc
  com.unity.render-pipelines.high-definition/Documentation~/Atmospheric-Scattering.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Sample-Content.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Sample-Projects.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/CustomPassVolumeBox_Collider.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/GettingStarted3.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Index1Main.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/LUTAuthoringResolve4.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/LookDev3.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/LookDev4.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/LookDev7.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/LookDev9.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/LutAuthoringResolve1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-PhysicallyBasedSky2.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-PhysicallyBasedSky3.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-PhysicallyBasedSky4.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/OverrideMicroShadows1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedContactShadow1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedContactShadow2.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedContactShadow3.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedGlobalIllumination2.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedReflections1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows10.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows11.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows12.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows2.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows3.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows4.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows5.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows6.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows7.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows8.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedShadows9.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracingPathTracing1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracingPathTracing2.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracingPathTracing4.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracingPathTracing5.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracingPathTracing6.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/UpgradingToHDRP3.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Visual-Environment.md
  com.unity.render-pipelines.high-definition/Documentation~/Reflection-in-HDRP.md
Labels: HDRP, docs, needs-backport-2019.3

#5822 Axf wip 72xrel
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/002-HDMaterials.png
  com.unity.render-pipelines.core/ShaderLibrary/CommonMaterial.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AxfSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFLTCAreaLight/AxFLTCAreaLight.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFDepthPass.hlsl
Labels: HDRP, SRP

#5825 7.2.0/bugfix hdrp
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Getting-started-with-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.2-to-2019.3.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessBuild.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/DefaultSettingsVolumeProfile.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadowFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/FrameSettingsTest.cs
Labels: HDRP

#5824 Add tint support for Sky Color Fog mode
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/AtmosphericScattering/FogEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/AtmosphericScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/AtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/Fog.cs
Labels: HDRP

#5823 [XR] Fix for XRSDK single-pass stereo mode incorrectly switch to multipass mode (case 1217120)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal, XR, needs-backport-7.2.x

#5826 [XR] Fix for XRSDK single-pass stereo mode incorrectly switch to mult… [Skip CI]
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal

#5827 Update fog doc
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-VolumetricFog1.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Fog.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/Fog.cs
Labels: HDRP

#5783 Fix case 1158661 hardware dynamic resolution for scene view
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-2019.3

#5817 Hdrp/fix wizard persistency
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.2-to-2019.3.md
  com.unity.render-pipelines.high-definition/Editor/DefaultScene/HDProjectSettings.cs
  com.unity.render-pipelines.high-definition/Editor/DefaultScene/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/DefaultScene/HDWizard.Window.cs
Labels: HDRP

#5829 Fix source of NaNs in planar reflection probe atlas
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
Labels: HDRP

#5832 Fixed decal initial pivot position.
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
Labels: HDRP

#5834 Fix for matcap texture mentioned as not set
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#5786 [Workaround] Fixed WMR crashes editor when entering play mode regression for 7.2.0
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: Universal, XR, needs-backport-7.2.x

#5836 Fix some missing init of stereo parameters in a Blit variant
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/Blit.shader
Labels: HDRP, XR

#5837 7.2.x/hdrp doc
  com.unity.render-pipelines.high-definition/Documentation~/Geometric-Specular-Anti-Aliasing.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/LightExplorer.png
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.2-to-2019.3.md
Labels: HDRP

#5839 Fix a source of Inf in Area lights LTC tables
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/LTCAreaLight.cs
Labels: HDRP

#5840 Update Override-Physically-Based-Sky
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
Labels: HDRP, docs

#5843 Forward port fix of documentation and XR from 7.2.x/release branch
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Geometric-Specular-Anti-Aliasing.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/LightExplorer.png
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.2-to-2019.3.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/LTCAreaLight.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/Blit.shader
Labels: HDRP

#5844 2019.3/package badges [Skip CI]
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-packages.yml
  README.md
Labels: yamato

#5845 [Backport 2019.3] Remove lwrp files added by mistake. [Skip CI]
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Base.png
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Base.png.meta
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Offscreen.png
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Offscreen.png.meta
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Overlay.png
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Overlay.png.meta
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_UI.png
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_UI.png.meta
  com.unity.render-pipelines.lightweight/Editor/LightweightRenderPipelineCameraEditor.cs
Labels: Universal

#5846 [Backport 7.2.0] Universal/backport 7.2/lwrp fix [Skip CI]
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Base.png
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Base.png.meta
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Offscreen.png
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Offscreen.png.meta
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Overlay.png
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_Overlay.png.meta
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_UI.png
  com.unity.render-pipelines.lightweight/Editor/Gizmos/Camera_UI.png.meta
  com.unity.render-pipelines.lightweight/Editor/LightweightRenderPipelineCameraEditor.cs
Labels: Universal

#5848 [Yamato] Add package tests to ABV
  .yamato/upm-ci-abv.yml
Labels: needs-backport-2019.3, yamato

#5850 Fix HDRP duplicated frame settings
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#5521 [Shader Graph][Skip CI] Branch Node to Ternary Operator
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Branch-Node.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/Logic/BranchNode.cs
Labels: Shader Graph

#5849 [Shader Graph][Skip CI] Fix Alpha Clip Threshold Default for PBR + Unlit
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/MasterNodes/PBRMasterNode.cs
  com.unity.shadergraph/Editor/Data/MasterNodes/UnlitMasterNode.cs
Labels: Shader Graph

#5865 Removing three scenes 107 & 119 & 125 from EditorBuildSettings [Skip CI]
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: Universal, testing

#5866 VFX : Fix instability for Editor Test [Skip CI]
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXComponentTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXDebugExpressionTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXSpaceBoundTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXSpawnerTest.cs
  TestProjects/VisualEffectGraph/Assets/AllTests/Editor/Tests/VFXTestCommon.cs
Labels: vfx

#5830 Hotfix for Hololens Remote Rendering
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal, needs-backport-7.2.x

#5867 Ending Platforms Branch
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Scene/CameraDirection.shadergraph
  TestProjects/ShaderGraph/ProjectSettings/ProjectSettings.asset
  TestProjects/ShaderGraph/ProjectSettings/UnityConnectSettings.asset
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, Shader Graph, Universal, testing

#5871 Fix cookie index usage
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
Labels: HDRP

#5868 DOC-1532 Fixed the "wrong" quotation marks. [Skip CI]
  com.unity.render-pipelines.universal/Documentation~/camera-stacking.md
Labels: Universal, needs-backport-7.2.x

#5438 Set maximum on number of visible lights & fix how we calculate the maximum in URP [skip ci]
  .yamato/upm-ci-universal.yml
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Scripts.meta
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Scripts/InstantiateObjects.cs
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Scripts/InstantiateObjects.cs.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted/SortedLightsTestPrefab.prefab
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted/SortedLightsTestPrefab.prefab.meta
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/CameraCallbackTests.cs
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.testframework.graphics/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: Universal, testing

#5859 Fixed inconsistent line endings in FBXArnoldSurfaceMaterialDescriptio…
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
Labels: Universal, needs-backport-2019.3

#5864 Remove Preset support on Universal RenderPipeline assets
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
Labels: Universal, needs-backport-7.2.x, needs-backport-7.3.x

#5609 Clear shader error cache every time we save the graph
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph, backported-2019.3

#5876 Bump package version
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.testframework.graphics/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, Universal, vfx

#5886 DOC-1538 Fixed missing links and one broken link in EffectList.md. [Skip CI]
  com.unity.render-pipelines.universal/Documentation~/EffectList.md
Labels: Universal, needs-backport-7.2.x, needs-backport-7.3.x

#5881 7.3.0 Version Bump
  .yamato/upm-ci-packages.yml
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.testframework.graphics/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, Universal, vfx, yamato

#5852 Fix/switch
  com.unity.render-pipelines.core/ShaderLibrary/ACES.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Color.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: Universal, needs-backport-7.2.x, needs-backport-7.3.x, needs-backport-8.x

#5892 Bugfix 1219003: Shadow cascade values not readable in pipeline asset inspector [Skip CI]
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Shadow/ShadowCascadeSplitGUI.cs
Labels: Universal, needs-backport-7.2.x, needs-backport-7.3.x, needs-backport-8.x

#5896 GetDefaultRenderer() test fix [Skip CI]
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/UniversalProjectEditorTests.cs
Labels: Universal, needs-backport-7.2.x, needs-backport-7.3.x, testing

#5551 fix case 1205791 custom mesh issue
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/MasterPreviewView.cs
Labels: Shader Graph

#5420 Added a call to Dirty()
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph, backported-2019.3

#5912 Fix shadergraph analytics.
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/ShaderGraphAnalytics.cs
Labels: Shader Graph

#5503 Fix for case 1200161 Save as subgraph issue
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph, needs-backport-8.x

#5863 Shader Graph quick fix for unreported Keyword bug
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph

#5671 Fixed fogbugz case 1197958
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: Universal, XR, needs-backport-7.2.x, needs-backport-7.3.x

#5901 Added Logic to Inject render pass to base renderer
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: Universal, needs-backport-7.2.x, needs-backport-7.3.x, needs-backport-8.x

#5924 Disabling the GetDefaultRenderer() test for now until it is redone. [Skip CI]
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/UniversalProjectEditorTests.cs
Labels: Universal, testing

#5926 [7.2.x Backport] Disabling the GetDefaultRenderer() test for now until it is redone. [Skip CI]
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/UniversalProjectEditorTests.cs
Labels: Universal

#5885 [Backport] [8.x.x] Minimize breakage from AssetDb change by clearing shader cache errors on save
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph

#5935 8.x.x/fix api validation [Skip CI]
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-postprocessing.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-shadergraph_stereo.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.high-definition/Runtime/Documentation.cs
  com.unity.shadergraph/Editor/Util/Documentation.cs
Labels: HDRP, SRP, Shader Graph, yamato

#5936 [Yamato] [skip ci] Setting up master to run on 2020.1
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-shadergraph_stereo.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
Labels: yamato

#5841 [CI] Bors setup
  .yamato/upm-ci-abv.yml
  bors.toml
Labels: yamato

#5922 Fixed MAD and RCP definitions in OpenGL.
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/API/GLES2.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/PostProcessing/SubpixelMorphologicalAntialiasing.hlsl
Labels: SRP, Universal, needs-backport-7.2.x, needs-backport-7.x, needs-backport-8.x

#5943 Hdrp/merge staging
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-shadergraph_stereo.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/UniversalProjectEditorTests.cs
  bors.toml
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/API/GLES2.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Shaders/PostProcessing/SubpixelMorphologicalAntialiasing.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/MasterPreviewView.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/ShaderGraphAnalytics.cs
Labels: SRP, Shader Graph, Universal, testing, yamato

#5919 Added Time range to Sample Gradient Node
  com.unity.shadergraph/Documentation~/Sample-Gradient-Node.md
Labels: Shader Graph, docs

#5931 fix camera stacking prefab issue
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: Universal, needs-backport-7.2.x, needs-backport-7.x, needs-backport-8.x

#5932 backport camera stack prefab issue fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: Universal

#5934 backport for camera stack prefab issue
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: Universal

#5941 Fixed resource lifecycle issue.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ForwardRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRendererData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal, needs-backport-8.x

#5927 Backport #5503 Fix for save as issue in subgraph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph

#5952 Fixed resource lifecycle issue. (#5941)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ForwardRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRendererData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: Universal

#5954 Added upgrade guide to 8.0.0
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-0-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: Universal

#5961 Added upgrade guide to 8.0.0 (#5954)
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-0-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: Universal

#5953 Revert " Added Logic to Inject render pass to base renderer (#5901)"
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: Universal, high-priority

#5960 [ci] Update Bors job
  .yamato/upm-ci-abv.yml
Labels: yamato

#5951 DOC-1275 URP: Edited the description of Smoothness in the lit shader. DOC-1550 Fixed two typos in SRP Core docs
  com.unity.render-pipelines.core/Documentation~/index.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
Labels: SRP, Universal, needs-backport-7.2.x, needs-backport-7.x

#5958 Forward Port - yamato fix
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
Labels: Universal

#5962 [Yamato] Split package test jobs
  .yamato/upm-ci-packages.yml
Labels: yamato

#5027 Nov-2019 Shader Graph Bug Fixes
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/KeywordTests.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/KeywordNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphOutputNode.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldKeywordView.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldPropertyView.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Internal/Data/KeywordEntry.cs
Labels: Shader Graph
