Repository Unity-Technologies/ScriptableRenderPipeline, pull requests merged in 2020-04, with the labels that each got.

#6440 [8.x.x Backport] 2d/shader color fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/SpriteUnlitPass.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Include/CombinedShapeLightShared.hlsl
Labels: 2d, Universal

#6425 [Shader Graph] Remove inefficient node dirty when graph first created
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph, backported-7.x, backported-8.x

#6370 Sharing more code for light data building (RT) and building a more optimal atlas
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetSmallCookieAtlas.asset
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetSmallCookieAtlas.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/602_LightClusterSmall.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/602_LightClusterSmall.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/602_LightClusterSmall.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/602_LightClusterSmall.unity.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, dxr, testing

#6492 [7.x.x Backport] Fixed usage of light size data that are not available at runtime.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP

#6490 [8.x.x Backport] Fixed usage of light size data that are not available at runtime.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP

#6489 Fixed usage of light size data that are not available at runtime.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, dxr

#6491 Hdrp /lookdev ui fixes
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.uss
  com.unity.render-pipelines.core/Editor/LookDev/ToolbarRadio.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#6496 Expose a debug constant in ShaderLab to make HDRP/Unlit SRP Batcher compatible again.
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6484 Fix custom pass depth copy
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6479 Changed the diffusion profile warning on the material to an info and changed the message to be more precise.
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
Labels: HDRP

#6481 [8.x.x Backport] Changed the diffusion profile warning on the material to an info and changed the message to be more precise.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
Labels: HDRP

#6482 [7.x.x Backport] Changed the diffusion profile warning on the material to an info and changed the message to be more precise.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
Labels: HDRP

#6473 Fix issue with baked reflection probes constantly marked as dirty with auto-bake on
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Utilities/CameraSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6471 Hdrp /fix drag area width at left of light intensity
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6453 Hdrp /fix reset of HDAdditionalLightData
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6442 [skip ci] Set up UPM_REGISTRY variable
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-shadergraph_stereo.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_editor.yml
Labels: yamato

#6372 Add option to disable XR rendering on the camera settings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/SerializedHDCamera.cs
  com.unity.render-pipelines.high-definition/Editor/Unity.RenderPipelines.HighDefinition.Editor.asmdef
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
Labels: HDRP, XR, needs-backport-8.x

#6497 fix unused leftover
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6498 Split 1900_AlphaTest_SG scene in two
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1900_AlphaTest_SG_a.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1900_AlphaTest_SG_a.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1900_AlphaTest_SG_b.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1900_AlphaTest_SG_b.unity.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1900_AlphaTest_SG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1900_AlphaTest_SG_a.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1900_AlphaTest_SG_a.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1900_AlphaTest_SG_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1900_AlphaTest_SG_b.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing

#6110 Universal/fix dx10 resource
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Shadows.hlsl
Labels: Universal, needs-backport-7.x, needs-backport-8.x

#6403 [Shader Graph] Update Error Messaging for Sub Graph Previews
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Sub-graph-Node.md
  com.unity.shadergraph/Documentation~/Sub-graph.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphOutputNode.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
Labels: Shader Graph

#6512 Fix custom pass test reference images
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9700_CustomPass_FullScreen/BeforeOpaqueDepthAndNormal.shader
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9700_CustomPass_FullScreen.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9700_CustomPass_FullScreen.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9700_CustomPass_FullScreen.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/9700_CustomPass_FullScreen.png.meta
Labels: HDRP, testing

#6518 [skip ci] Fix Android nightly job path
  .yamato/upm-ci-abv.yml
Labels: Universal, yamato

#6513 Updated ref image for PT fog test (5005).
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5005_PathTracing_Fog.png
Labels: HDRP, testing

#6499 Merge 8.x.x/hd/staging [Skip CI]
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9700_CustomPass_FullScreen/BeforeOpaqueDepthAndNormal.shader
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/9700_CustomPass_FullScreen.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9700_CustomPass_FullScreen.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/9700_CustomPass_FullScreen.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/9700_CustomPass_FullScreen.png.meta
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.uss
  com.unity.render-pipelines.core/Editor/LookDev/ToolbarRadio.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Fabric.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.3-to-2020.1.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/SerializedHDCamera.cs
  com.unity.render-pipelines.high-definition/Editor/Unity.RenderPipelines.HighDefinition.Editor.asmdef
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/CameraSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDAdditionalSceneViewSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDAdditionalSceneViewSettings.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderPipelinePreferences.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
Labels: HDRP, SRP

#6501 Merge 7.x.x/hd/staging [Skip CI]
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9700_CustomPass_FullScreen/BeforeOpaqueDepthAndNormal.shader
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/9700_CustomPass_FullScreen.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/9700_CustomPass_FullScreen.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/9700_CustomPass_FullScreen.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/9700_CustomPass_FullScreen.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/9700_CustomPass_FullScreen.png.meta
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.uss
  com.unity.render-pipelines.core/Editor/LookDev/ToolbarRadio.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Fabric.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/CameraSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
Labels: HDRP, SRP

#6451 Update ABV to match setup of master
  .yamato/upm-ci-abv.yml
Labels: yamato

#6494 Review corrections for previous PR
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, dxr

#6523 Hdrp/docs/glossary f number
  com.unity.render-pipelines.high-definition/Documentation~/Glossary.md
Labels: HDRP, docs, needs-backport-7.x, needs-backport-8.x

#6413 Fix URP Unlit, SimpleLit and BakedLit to use float colors with Hybrid V2
  com.unity.render-pipelines.universal/Shaders/BakedLitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/SimpleLitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/UnlitInput.hlsl
Labels: Universal

#6526 [skip ci] [backport] unity downloader upgrade (#6391)
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-shadergraph_stereo.yml
  .yamato/upm-ci-templates.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_editor.yml
Labels: yamato

#6525 [skip ci] [backport] unity downloader upgrade (#6391)
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-templates.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_editor.yml
Labels: yamato

#6521 [skip ci] [backport] UPM_REGISTRY variable (#6442)
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-shadergraph_stereo.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_editor.yml
Labels: yamato

#6376 [9.x.x] Fixing defines and calculations for shadow coordinates [Skip CI]
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/PBRForwardPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7BillboardPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrassPasses.hlsl
Labels: Universal, needs-backport-7.x, needs-backport-8.x

#6476 Fixed an usage of a a compute buffer not bound (1229964)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP, backported-7.x, backported-8.x

#6520 Fix RT SSS and scene selection for recursive rendering
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/801_SubSurfaceScatteringDeferred.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/802_SubSurfaceScatteringForward.png
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingSubSurface.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
Labels: HDRP, dxr, testing

#6505 [7.x.x Backport] Maximum visible lights
  .yamato/upm-ci-universal.yml
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Scripts.meta
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Scripts/InstantiateObjects.cs
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/Scripts/InstantiateObjects.cs.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/010_AdditionalLightsSorted.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/010_AdditionalLightsSorted.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted/SortedLightsTestPrefab.prefab
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted/SortedLightsTestPrefab.prefab.meta
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/CameraCallbackTests.cs
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Shadows.hlsl
Labels: Universal, testing, yamato

#6470 [9.x.x] Obsoleting FrameCleanup(), Adding OnCameraSetup() and OnCameraCleanup()
  TestProjects/UniversalGraphicsTest/Assets/Scenes/105_MRT/CopyToViewportRenderPass.cs
  TestProjects/UniversalGraphicsTest/Assets/Scenes/105_MRT/OutputColorsToMRTsRenderPass.cs
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/CameraCallbackTests.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScreenSpaceShadowResolvePass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: Universal, needs-backport-7.x, needs-backport-8.x

#6528 Improve probes volumes PR [Skip CI]
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewTiles.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/SurfaceShading.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinGIUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/SimpleLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
Labels: HDRP

#6529 [8.x.x Backport] Universal/fix dx10 resource
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Shadows.hlsl
Labels: Universal

#6503 Fix error in TransformWorldToHClipDir (target master)
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/SpaceTransforms.hlsl
Labels: SRP, needs-backport-7.x, needs-backport-8.x

#6500 Fix error in TransformWorldToHClipDir
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/SpaceTransforms.hlsl
Labels: SRP

#6486 [8.x.x Backport] Fix DepthTexture precision, macros in Core.hlsl and make URP shaders use DeclareDepthTexture.hlsl when sampling depth
  com.unity.render-pipelines.universal/ShaderLibrary/Core.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/DeclareDepthTexture.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Particles.hlsl
  com.unity.render-pipelines.universal/Shaders/PostProcessing/BokehDepthOfField.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/CameraMotionBlur.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/GaussianDepthOfField.shader
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceShadows.shader
Labels: Universal

#6534 Virtual texturing full screen debug
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugVTBlit.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugVTBlit.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#5250 Universal shadowmask surport
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Lighting.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Shadows.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UnityInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/LitForwardPass.hlsl
  imgs/multi_light.png
  imgs/shadowmask.png
Labels: Universal

#6493 Fixed an issue where changing the default volume profile from another inspector would not update the default volume editor.
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6480 Fix issues in the post process system with RenderTexture being invalid in some cases. Causing rendering problems.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6441 Removed wrongly serialized fields in StaticLightingSky
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#6531 Backport #6406 to 8.x.x.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/PixelPerfectCamera.cs
  com.unity.render-pipelines.universal/Runtime/2D/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Shaders/2D/Include/CombinedShapeLightShared.hlsl
Labels: 2d, Universal

#6504 Fixed a weird behavior in the scalable settings drawing when the space becomes tiny (1212045).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSetting.cs
Labels: HDRP

#6506 [8.x.x Backport] Fixed a weird behavior in the scalable settings drawing when the space becomes tiny (1212045).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSetting.cs
Labels: HDRP

#6507 [7.x.x Backport] Fixed a weird behavior in the scalable settings drawing when the space becomes tiny (1212045).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSetting.cs
Labels: HDRP

#6532 Backport #6406 to 7.x.x.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/PixelPerfectCamera.cs
  com.unity.render-pipelines.universal/Runtime/2D/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Shaders/2D/Include/CombinedShapeLightShared.hlsl
Labels: 2d, Universal

#6379 Urp/fix case 1226208
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: Universal, needs-backport-7.x, needs-backport-8.x
